{% extends "layouts/main.html" %}



{% block pageTitle %}
Add HCP to Handsworth - GOV.UK prototype
{% endblock %}

{% block header %}


{% include "includes/internal-header.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
   


      <form class="form" action="account-jd-confirmed" method="post">
       
        

            <h1 class="govuk-heading-l">
Are you sure you want to remove skills from Jane Doe?       </h1>

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
Check that you have reassigned Jane Doe's appointments before you remove the matching skill.   </strong>
</div>


        <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
        <div class="govuk-grid-column-one-half" style="padding-left:0px;">
     
 
<div class="govuk-width-container ">

<div class="govuk-grid-row">
              
<div class="govuk-grid-column-three-quarters">
              
       

              
              <p class="govuk-body">You are removing:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Telephone assessment (PIP TA)</li>
  <li>Face to face (PIP F2F)</li>
</ul>
            
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">


  <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">Yes, remove skills</button>  
          <a class="govuk-link" href="manage-profiles.html">No, return to HCP profile</a>
        </div>
        </div>
    </div>
    </div>
  </main>
</div>


{% endblock %}