{% extends "layouts/main.html" %}



{% block pageTitle %}
Add HCP to Handsworth - GOV.UK prototype
{% endblock %}

{% block header %}


{% include "includes/internal-header.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
   


      <form class="form" action="account-jd-confirmed" method="post">
       
        

            <h1 class="govuk-heading-l">
Are you sure you want to remove skills from Jane Doe?       </h1>

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    Ensure you have reassigned appointments for removal of this skill
  </strong>
</div>
<!-- 
<div id="contact-hint" class="govuk-hint">
Jane Doe will no longer be able to complete PIP telephone assessments or F2F appointments and any existing appointments using these skills will need to be reassigned.</div> -->
        <br>
        <!-- <div class="govuk-form-group">
        <label class="govuk-fieldset__legend--s govuk-!-font-weight-bold" for="HCP-name">
          Name
        </label>
        <p class="govuk-hint"></p>

        <input class="govuk-input govuk-!-width-two-thirds" id="HCP-name" name="HCP-name" type="text" value="Amy Gill"></div>

      
         -->
<!--         
  <div class="govuk-form-group">
          <label class="govuk-fieldset__legend--s govuk-!-font-weight-bold" for="HCP-name">
          Email
          </label>
          <p class="govuk-hint"></p>
  
          <input class="govuk-input govuk-!-width-two-thirds" id="HCP-name" name="HCP-name" type="text" value="amygill@domain.gov.uk"></div>
       
          
        -->

        <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
        <!-- <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden"> -->
        <div class="govuk-grid-column-one-half" style="padding-left:0px;">
          <!-- <h2 class="govuk-heading-m">
            What are they available for?
          </h1> -->

 


        <!-- 
<br>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
  
              {{ govukCheckboxes({
                idPrefix: " ",
                name: "Work location",
                classes: "govuk-checkboxes--small",
                fieldset: {
                  legend: {
                    text: "Work location",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                items: [
                  {
                    value: "Birmingham, Handsworth",
                    text: "Birmingham, Handsworth"
                  },
                  {
                    value: "London, Tresco House",
                    text: "London, Tresco House"
                  }
                ]
              }) }}
  
            </div>
            </fieldset>
            </div> -->
  
 
            <div class="govuk-width-container ">

              <div class="govuk-grid-row">
              
              <div class="govuk-grid-column-three-quarters">
              
       
<!--               
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
Skills                  </dt>
                  <dd class="govuk-summary-list__value">
                    None
                  </dd>
                  <dd class="govuk-summary-list__actions"> -->
                  <!-- <a class="govuk-link" href="question-hcp2.html">Change </a> -->
                </dd>
                </div>          
                <!-- <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                   Email
                  </dt>
                  <dd class="govuk-summary-list__value">
                    amy.gill@dwp.gov.uk
                  </dd>
                  <dd class="govuk-summary-list__actions">
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                   LOT(s)
                  </dt>
                  <dd class="govuk-summary-list__value">
                   LOT 100
                  </dd>
                  <dd class="govuk-summary-list__actions">
                </dd>
                </div> -->
                <!-- <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                  Face to Face (PIP F2F)                 </dt>
                  <dd class="govuk-summary-list__value">
                   None
                  </dd> -->
                  <!-- <dd class="govuk-summary-list__actions"> -->
                    <!-- <a class="govuk-link" href="question-location.html">Change </a> -->
              
                </dd>
                
                </div>

              
              
                <!-- <div class="govuk-summary-list__row"> -->
                  <!-- <dt class="govuk-summary-list__key" style="border-bottom:0px;">
                 Base location
                  </dt> -->
                  <!-- <dd class="govuk-summary-list__value" style="border-bottom:0px;"> -->
                   <!-- Birmingham, Handsworth -->
                  <!-- </dd> -->
              
                  <!-- <dd class="govuk-summary-list__actions"> -->
                    <!-- <a class="govuk-link" href="">Change </a> -->
                <!-- </dd> -->
              
              
                <!-- </div> -->
              
              <p class="govuk-body">You can buy:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>apples</li>
  <li>oranges</li>
  <li>pears</li>
</ul>
              
              
                <!-- <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key" style="border-bottom:0px;">
                  Available for
                  </dt>
                  <dd class="govuk-summary-list__value" style="border-bottom:0px;">
               -->
                    <!-- <ul class="govuk-list govuk-list--bullet">
                      <li style="white-space:nowrap;">PIP face to face (PIP F2F) </li>
                      <li style="white-space:nowrap;">  PIP telephone assessment (PIP TA)</li> 
                      
                    </ul> -->
                    <!-- </dd> -->
                    <!-- <dd class="govuk-summary-list__actions"> -->
                      <!-- <a class="govuk-link" href="">Change</a> -->
                  <!-- </dd> -->
                    <!-- </div> -->
                     <div>
        

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">Yes, remove skills</button>  
          <a class="govuk-link" href="manage-profiles.html">No, return to HCP profile</a>
        </div>
        </div>
    </div>
    </div>
  </main>
</div>


{% endblock %}