{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% endblock %}

{% block content %}

  
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

  <table id="menu-table">
      
      </tbody></table>


              <table id="menu-table">
                  <tbody><tr>
                  
                  <td class="wide-margin">
                  <h2 class="govuk-heading-l">Onboarding pages</h2>
                  <ul class="govuk-list govuk-list--spaced">
            
                    <!-- <li>
                      <a class="govuk-link" href="manage-users.html" id="view-my-account">Manage users</a>
                    </li> -->
            
                    
                    
                    <li>
                      <a class="govuk-link" href="supplier-unassigned.html" id="">You have not been assigned to a supplier</a>
                    </li>
                                       <li>
                      <a class="govuk-link" href="RBAC-unassigned.html" id="">You have not been assigned a RBAC role</a>
                    </li>
                    
                    
                    <li>
                      <a class="govuk-link" href="RBAC-multiple.html" id="">You have too many RBAC roles set</a>
                    </li>
                                       <li>
                      <a class="govuk-link" href="onboarding-success.html" id="">You have been onboarded successfully</a>
                    </li>
                    
                  </ul>
                  </td>
                  
                  
                  
                  </tr>
                  
                  </tbody></table>
            
                        </div>
                        
        </div>
        
</main>
</div>
{% endblock %}
