{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-full">

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
  

<div class="govuk-form-group govuk-form-group--error">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="cost-per-item-error">
Rolling level for PIP face to face assessments
    </label>
  </h1>
  <p>Select frequency </p>
  <p id="cost-per-item-error-error" class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span> Enter a number between 1 and 3
  </p>
  <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">Once every</div>
    <input class="govuk-input govuk-input--width-5 govuk-input--error" id="cost-per-item-error" name="costPerItemError" type="text" spellcheck="false" aria-describedby="cost-per-item-error-error">
    <div class="govuk-input__suffix" aria-hidden="true">months</div>
  </div>
</div>
    <!-- <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england"  >
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
          Once a month
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland" >
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
          Once every two months
        </label>
      </div>
            <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland" checked>
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
          Once every three months
        </label>
      </div> -->
            <!-- <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland" >
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
          30%
        </label>
      </div> -->
            <!-- <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland" >
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
          20%
        </label>
      </div> -->
      <!-- <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland" >
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
          10%
        </label>
      </div> -->
      
      <a href="quality-review-confirmed.html"><button class="govuk-button" data-module="govuk-button">Continue</button></a>
    </div>
  </div>

  </main>
</div>



{% endblock %}
