{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "quality-review-jd"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="find-a-claimant-form" class="form" action="pip-f2f-rate.html">
        <input type="hidden" name="_csrf" value="">
        <fieldset class="govuk-fieldset">
  
  <legend class="govuk-fieldset__legend govuk-caption-l">
  
    <h1 class="govuk-fieldset__heading">
      <span class="govuk-caption-l">Quality review level</span>
    </h1>
  
  </legend>
  

</fieldset>

<div class="govuk-form-group">
  <label class="govuk-label govuk-label--l" for="search-term">
   Select PIP face to face level
  </label>

    <!-- <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england" checked>
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
          Approval
        </label>
      </div> -->
    <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland" >
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
          Approval
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland" >
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
          Post Approval
        </label>
      </div>
            <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland" >
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
          Rolling
        </label>
      </div>
            <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland" checked>
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
          Targeted support
        </label>
      </div>
          
  </fieldset>
</div>

      <a href="pip-f2f-rate.html"><button class="govuk-button" data-module="govuk-button">Continue</button></a>
      <!-- <a href="pip-f2f-targeted-support.html"><button class="govuk-button" data-module="govuk-button">Continue</button></a> -->
    </div>
  </div>

  </main>
</div>



{% endblock %}
