{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-full">
    <a href="account-amy.html" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
  

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        idPrefix: "which-location",
        name: "which-location",
        fieldset: {
          legend: {
            text: "Is Amy Gill a healthcare professional?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}

      <br><br>

      
      <a href="confirm-details-page.html"><button class="govuk-button" data-module="govuk-button">Confirm</button></a>
    </div>
  </div>

  </main>
</div>



{% endblock %}
