registry=https://registry.npmjs.org/

@dwp:registry=https://${CI_SERVER_HOST}/api/v4/packages/npm/
//${CI_SERVER_HOST}/api/v4/packages/npm/:_authToken=${GITLAB_REGISTRY_TOKEN}

ignore-scripts=true
save-exact=true
