{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="backLink" role="navigation">
      
  </div>
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
      
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<div class="govuk-panel govuk-panel--confirmation" data-gtm-vis-recent-on-screen58715114_868="122" data-gtm-vis-first-on-screen58715114_868="122" data-gtm-vis-total-visible-time58715114_868="100" data-gtm-vis-has-fired58715114_868="1">
<h1 class="govuk-panel__title">
Referral deleted
</h1>

</div>

<div role="complementary">

<div class="has-action-list">
<p>
We have removed the referral successfully
</p>
<nav aria-labelledby="subsection-title">
<ul class="govuk-list">

<li>

  <a href="incomplete-referral.html" id="return-link" class="govuk-link govuk-link--no-visited-state">Return to all referrals</a>


      </li>
    
  </ul>
</nav>
</div>

</div>
</div>
</div>

  </main>
</div>
{% endblock %}

