{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          

          <form class="form" action="incomplete-referral-confirmation" autocomplete="off" method="post" novalidate="">
              <input type="hidden" name="_csrf" value="">
                                                         
                                          
<div class="govuk-form-group">

<fieldset class="govuk-fieldset">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--l">
  
    <h1 class="govuk-fieldset__heading">
      <span class="govuk-caption-l govuk-!-margin-bottom-2">Eli Erwin</span>Are you sure you want to remove this incomplete referral?
    </h1>
  
  </legend>
  
  <div class="govuk-checkboxes govuk-!-margin-top-5" data-module="govuk-checkboxes">
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
      <label class="govuk-label govuk-checkboxes__label" for="waste">
        Yes, I have taken the appropiate action in PIPCS or JSAPs
      </label>
  </div>
    
  <div>
    <button type="submit" class="govuk-button govuk-!-margin-top-5" data-module="govuk-button" id="submit" data-govuk-button-init="">
    Remove referral
    </button>

              </form>
          </div>
          <p><a href="incomplete-referral.html" aria-describedby="return">Cancel and return to incomplete referrals</a></p>
          
      </div>
{% endblock %}
