{% extends "layouts/main.html" %}
{% set bodyAttributes = { id: "assess" } %}
 
{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
 
{% block main %}
 
{% include "includes/assessment-status-neutral-pip.html" %}
 
<div class="govuk-width-container">
<a href="claimant-details.html" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <h2 class="govuk-heading-m govuk-!-Marchgin-bottom-5">Manage</h2>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link linearJourneyLink" href="claimant-documents-buttons-edit.html">Update document details</a>
        </li>
      
      </ul>
<br>


      <h2 class="govuk-heading-m govuk-!-Marchgin-bottom-5">Filters</h2>
      <div id="filter-hint" class="govuk-hint govuk-!-Marchgin-bottom-4">
        Select one or more filters to apply to the list.
      </div>
      <div class="table-filter">
        <form id="filters">
         
        
          {{ govukCheckboxes({
          idPrefix: "documentLabel",
          name: "documentLabel",
          classes: "govuk-checkboxes--small",
          fieldset: {
            legend: {
              text: "Document label",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          values: data.documentLabel,
          items: [{
            value: "IMPORTANT",
            html: "Important (<span id='importantCount'>1</span>)"
          }, {
            value: "UNREAD",
            html: "Unread (<span id='unreadCount'>8</span>)"
          },
          {
            value: "Not important",
            html: "Archived (<span id='archivedCount'>8</span>)"
          }]
          }) }}
 
          <input id="totalDocuments" class="docAmountInput" type="hidden" name="totalDocuments" value="" />
          <input id="selectedDocument" class="docAmountInput" type="hidden" name="selectedDocument" value="" />
 
          <button id="applyFilters" class="govuk-button govuk-button--secondary govuk-!-Marchgin-bottom-8">Apply filters</button>
        </form>
          <br>
          <ul class="govuk-list">
          <li><a id="clearFilters" href="claimant-documents-buttons" class="govuk-link">Clear all filters</a></li>
          </ul>
      </div>
    </div>
 
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l">Claimant documents</h2>
      <p class="govuk-body-s" id="last-updated">Last updated from DRS at 02:08 on 16 Sep 2021</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <table class="govuk-table" data-module="moj-sortable-table" aria-describedby="last-updated">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header column-width-20" aria-sort="none">
              <button type="button" data-index="0">Name</button>
            </th>
            <th scope="col" class="govuk-table__header column-width-10" aria-sort="none">
              <button type="button" data-index="2">Benefit type</button>
            </th>
            <th scope="col" class="govuk-table__header column-width-15" aria-sort="none">
              <button type="button" data-index="3">Date of document</button>
            </th>
            <th scope="col" class="govuk-table__header column-width-15" aria-sort="descending">         
              <button type="button" data-index="3">Date DWP received</button>
            </th>
            <th scope="col" class="govuk-table__header column-width-20" aria-sort="none">
              <button type="button" data-index="3">Document status</button>
            </th>
          </tr>
        </thead>
     
        <tbody class="govuk-table__body">

       

          <tr class="govuk-table__row filter-table-row">     
            {% if data['nameAR2'] %}
            <td class="govuk-table__cell"><a class="selectDocumentLink" href="further-evidence-one-button-AR2.html">{{ data["nameAR2"]}} </a></td>
            {% else %}
            <td class="govuk-table__cell"><a class="selectDocumentLink" href="further-evidence-one-button-AR2.html">Award review AR1</a></td>       
            {% endif %}
            <td class="govuk-table__cell ">PIP</td>    
            <td class="govuk-table__cell" data-sort-value="date"> 
              {{ data["date-created-dayAR2"]}} &nbsp;  {{ data["date-created-monthAR2"]}} &nbsp; {{ data["date-created-yearAR2"]}}
            </td>
            <td class="govuk-table__cell" data-sort-value="13">15 Aug 2021</td>
              {% if data['AwardReview2'] %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Important</strong></td>
            {% elif data['AR2-hide'] %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Archived</strong></td>
            {% elif data['AwardReview2Read'] %}
            <td class="govuk-table__cell"></td>
            {% else %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Unread</strong></td>
            {% endif %}
          </tr>

          <tr class="govuk-table__row filter-table-row">  
            {% if data['nameARcover'] %}
            <td class="govuk-table__cell"><a class="selectDocumentLink" href="further-evidence-one-button-ARcoverletter.html">{{ data["nameARcover"]}} </a></td>
            {% else %}
            <td class="govuk-table__cell"><a class="selectDocumentLink" href="further-evidence-one-button-ARcoverletter.html">Award review AR1 covering letter</a></td>       
            {% endif %}
            
            <td class="govuk-table__cell">PIP</td>  
            <td class="govuk-table__cell" data-sort-value="date">
              {{ data["date-created-dayARcover"]}} &nbsp;  {{ data["date-created-monthARcover"]}} &nbsp; {{ data["date-created-yearARcover"]}}
            </td>
            <td class="govuk-table__cell" data-sort-value="12">	15 Aug 2021</td>
             {% if data['AwardCover'] %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Important</strong></td>
            {% elif data['ARcover-hide'] %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Archived</strong></td>
            {% elif data['AwardCoverRead'] %}
            <td class="govuk-table__cell"></td>
            {% else %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Unread</strong></td>
            {% endif %}
          </tr>


          <tr class="govuk-table__row filter-table-row">    
            {% if data['name6'] %}
            <td class="govuk-table__cell"><a class="selectDocumentLink" href="further-evidence-one-button-FurtherEvidence1.html">{{ data["name6"]}} </a></td>    
            {% else %}
            <td class="govuk-table__cell"><a class="selectDocumentLink" href="further-evidence-one-button-FurtherEvidence1.html">Further evidence</a></td>    
            {% endif %}  
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell" data-sort-value="date">
              {{ data["date-created-day-FE1"]}} &nbsp;  {{ data["date-created-month-FE1"]}} &nbsp; {{ data["date-created-year-FE1"]}}</td>
            <td class="govuk-table__cell" data-sort-value="12">10 Sept 2021</td>
            {% if data['fe1'] %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Important</strong></td>
            {% elif data['fe1-hide'] %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Archived</strong></td> 
            {% elif data['fe1Read'] %}
            <td class="govuk-table__cell"></td>
            {% else %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Unread</strong></td>
            {% endif %}
          </tr>


          <tr class="govuk-table__row filter-table-row">    
            {% if data['name5'] %}
            <td class="govuk-table__cell"><a class="selectDocumentLink" href="further-evidence-one-button-Envelope.html">{{ data["name5"]}} </a></td>
            {% else %}
            <td class="govuk-table__cell"><a class="selectDocumentLink" href="further-evidence-one-button-Envelope.html">WHITE MAIL UNSTRUCTURED</a></td>
            {% endif %}    
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell" data-sort-value="date">
              {{ data["date-created-day-env"]}} &nbsp;  {{ data["date-created-month-env"]}} &nbsp; {{ data["date-created-year-env"]}}</td>
            <td class="govuk-table__cell" data-sort-value="11">22 June 2020</td>
             {% if data['unstwhite'] %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Important</strong><br></td>
            {% elif data['env-hide'] %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Archived</strong></td>
            {% elif data['unstwhiteRead'] %}
            <td class="govuk-table__cell"></td>
            {% else %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Unread</strong></td>
            {% endif %}
          </tr>


          <tr class="govuk-table__row filter-table-row">    
            {% if data['name3'] %}
            <td class="govuk-table__cell"><a class="selectDocumentLink" href="further-evidence-one-button-White-unstructured.html">{{ data["name3"]}} </a></td>
            {% else %}
            <td class="govuk-table__cell"><a class="selectDocumentLink" href="further-evidence-one-button-White-unstructured.html">WHITE MAIL UNSTRUCTURED</a></td>
            {% endif %}    
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell" data-sort-value="date">
              {{ data["date-created-day-wu"]}} &nbsp;  {{ data["date-created-month-wu"]}} &nbsp; {{ data["date-created-year-wu"]}}</td>
            <td class="govuk-table__cell" data-sort-value="10">22 Apr 2020</td>
             {% if data['unstwhite'] %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Important</strong><br></td>
            {% elif data['wu-hide'] %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Archived</strong></td>
            {% elif data['unstwhiteRead'] %}
            <td class="govuk-table__cell"></td>
            {% else %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Unread</strong></td>
            {% endif %}
          </tr>
 
          <tr class="govuk-table__row filter-table-row"> 
            {% if data['name4'] %}
            <td class="govuk-table__cell"><a class="selectDocumentLink" href="further-evidence-one-button-White-unstructured2.html">{{ data["name4"]}} </a></td>
            {% else %}
            <td class="govuk-table__cell"><a class="selectDocumentLink" href="further-evidence-one-button-White-unstructured2.html">WHITE MAIL UNSTRUCTURED</a></td>
            {% endif %}  
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell" data-sort-value="date"> 
              {{ data["date-created-day-wu2"]}} &nbsp;  {{ data["date-created-month-wu2"]}} &nbsp; {{ data["date-created-year-wu2"]}}</td>
            <td class="govuk-table__cell" data-sort-value="9">22 Apr 2020</td>
             {% if data['unstwhite2'] %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Important</strong></td>
            {% elif data['wu2-hide'] %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Archived</strong></td>
            {% elif data['unstwhite2Read'] %}
            <td class="govuk-table__cell"></td>
            {% else %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Unread</strong></td>
            {% endif %}
          </tr>

          <tr class="govuk-table__row filter-table-row">    
            {% if data['name7'] %}
            <td class="govuk-table__cell"><a class="selectDocumentLink" href="further-evidence-one-button-FurtherEvidence2.html">{{ data["name7"]}}</a></td>
            {% else %}
            <td class="govuk-table__cell"><a class="selectDocumentLink" href="further-evidence-one-button-FurtherEvidence2.html">Further evidence</a></td>
            {% endif %}  
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell" data-sort-value="date">
              {{ data["date-created-day-fe2"]}} &nbsp;  {{ data["date-created-month-fe2"]}} &nbsp; {{ data["date-created-year-fe2"]}}</td>
            <td class="govuk-table__cell" data-sort-value="8">10 Oct 2019</td>
            {% if data['fe2'] %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Important</strong></td>
            {% elif data['fe2-hide'] %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Archived</strong></td>
            {% elif data['fe2Read'] %}
            <td class="govuk-table__cell"></td>
            {% else %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Unread</strong></td>
            {% endif %}
          </tr>

          <tr class="govuk-table__row filter-table-row">  
            {% if data['name8'] %}
            <td class="govuk-table__cell"><a class="govuk-link" href="further-evidence-one-button-ESA85.html">{{ data["name8"]}} </a></td>
            {% else %}
            <td class="govuk-table__cell"><a class="govuk-link" href="further-evidence-one-button-ESA85.html">ESA85</a></td>
            {% endif %}   
                        <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell" data-sort-value="date">
              {{ data["date-created-day-ESA85"]}} &nbsp;  {{ data["date-created-month-ESA85"]}} &nbsp; {{ data["date-created-year-ESA85"]}}</td>
            <td class="govuk-table__cell" data-sort-value="7">20 March 2018</td>
             {% if data['ESA85'] %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Important</strong><br></td>
            {% elif data['esa85-hide'] %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Archived</strong></td>
            {% elif data['ESA85Read'] %}
            <td class="govuk-table__cell"></td>
            {% else %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Unread</strong><br></td>
            {% endif %}
          </tr>

          <tr class="govuk-table__row filter-table-row">  
            {% if data['name9'] %}
            <td class="govuk-table__cell"><a class="govuk-link" href="further-evidence-one-button-ESA851-duplicate.html">{{ data["name9"]}} </a></td>
            {% else %}
            <td class="govuk-table__cell"><a class="govuk-link" href="further-evidence-one-button-ESA851-duplicate.html">ESA85</a></td>
            {% endif %} 
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell" data-sort-value="date">
              {{ data["date-created-day-ESA851"]}} &nbsp;  {{ data["date-created-month-ESA851"]}} &nbsp; {{ data["date-created-year-ESA851"]}}</td>
            <td class="govuk-table__cell" data-sort-value="7">20 March 2018</td>
             {% if data['ESA851'] %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Important</strong><br></td>
            {% elif data['ESA85Dup-hide'] %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Archived</strong></td>
            {% elif data['ESA851Read'] %}
            <td class="govuk-table__cell"></td>
            {% else %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Unread</strong><br></td>
            {% endif %}
          </tr>

          <tr class="govuk-table__row filter-table-row"> 
            {% if data['nameESA'] %}
            <td class="govuk-table__cell"><a class="govuk-link" href="further-evidence-one-button-ESA50.html">{{ data["nameESA"]}} </a></td>
            {% else %}
            <td class="govuk-table__cell"><a class="govuk-link" href="further-evidence-one-button-ESA50.html">ESA50</a></td>
            {% endif %} 
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell" data-sort-value="date">
              {{ data["date-created-day-ESA50"]}} &nbsp;  {{ data["date-created-month-ESA50"]}} &nbsp; {{ data["date-created-year-ESA50"]}}</td>
            <td class="govuk-table__cell" data-sort-value="6">02 March 2018</td>
              {% if data['ESA50'] %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Important</strong></td>
            {% elif data['ESA50Read'] %}
            <td class="govuk-table__cell"></td>
            {% else %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Unread</strong></td>
            {% endif %}
          </tr>

          <tr class="govuk-table__row filter-table-row">
            {% if data['nameAP1'] %}
            <td class="govuk-table__cell"><a class="govuk-link" href="further-evidence-one-button-AP1.html">{{ data["nameAP1"]}} </a></td>
            {% else %}
            <td class="govuk-table__cell"><a class="govuk-link" href="further-evidence-one-button-AP1.html">PA4 report</a></td>
            {% endif %}  
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell" data-sort-value="date">
              {{ data["date-created-day-AP1"]}} &nbsp;  {{ data["date-created-month-AP1"]}} &nbsp; {{ data["date-created-year-AP1"]}}</td>
            <td class="govuk-table__cell" data-sort-value="5">22 Aug 2017</td>
            <td class="govuk-table__cell">
              {% if data['PA4import'] %}
              <strong class="govuk-tag govuk-tag--yellow">Important</strong></td>
              {% elif data['PA4importRead'] %}
              </td>
              {% else %}
              <strong class="govuk-tag govuk-tag--blue">Unread</strong></td>
              {% endif %}
          </tr>

          <tr class="govuk-table__row filter-table-row">
            {% if data['nameAR1'] %}
            <td class="govuk-table__cell"><a class="govuk-link" href="further-evidence-one-button-AR1.html">{{ data["nameAR1"]}} </a></td>
            {% else %}
            <td class="govuk-table__cell"><a class="govuk-link" href="further-evidence-one-button-AR1.html">Award review AR1</a></td>
            {% endif %}  
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell" data-sort-value="date">
              {{ data["date-created-day-AR1"]}} &nbsp;  {{ data["date-created-month-AR1"]}} &nbsp; {{ data["date-created-year-AR1"]}}</td>
            <td class="govuk-table__cell" data-sort-value="4">25 May 2017</td>
             {% if data['AwardReview'] %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Important</strong></td>
            {% elif data['AwardReviewRead'] %}
            <td class="govuk-table__cell"></td>
            {% else %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Unread</strong></td>
            {% endif %}
          </tr>

          <tr class="govuk-table__row filter-table-row">
            {% if data['nameAP2'] %}
            <td class="govuk-table__cell"><a class="govuk-link" href="further-evidence-one-button-AP2.html">{{ data["nameAP2"]}} </a></td>
            {% else %}
            <td class="govuk-table__cell"><a class="govuk-link" href="further-evidence-one-button-AP2.html">PA4 report</a></td>
            {% endif %}  
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell" data-sort-value="date">
              {{ data["date-created-day-AP2"]}} &nbsp;  {{ data["date-created-month-AP2"]}} &nbsp; {{ data["date-created-year-AP2"]}}</td>
            <td class="govuk-table__cell" data-sort-value="3">28 Oct 2015</td>
            {% if data['PA4consult'] %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Important</strong></td>
            {% elif data['PA4consultRead'] %}
            <td class="govuk-table__cell"></td>
            {% else %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Unread</strong></td>
            {% endif %}
          </tr>

          <tr class="govuk-table__row filter-table-row"> 
            {% if data['namePIP2'] %}
            <td class="govuk-table__cell"><a class="govuk-link" href="further-evidence-one-button-pip2.html">{{ data["namePIP2"]}} </a></td>
            {% else %}
            <td class="govuk-table__cell"><a class="govuk-link" href="further-evidence-one-button-pip2.html">PIP 2 questionnaire</a></td>
            {% endif %}  
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell" data-sort-value="date">
              {{ data["date-created-day-PIP2"]}} &nbsp;  {{ data["date-created-month-PIP2"]}} &nbsp; {{ data["date-created-year-PIP2"]}}</td>
            <td class="govuk-table__cell" data-sort-value="2">28 Aug 2015</td>
            <td class="govuk-table__cell">
              {% if data['PIP2doc'] %}
              <strong class="govuk-tag govuk-tag--yellow">Important</strong></td>
              {% elif data['PIP2docRead'] %}
              </td>
              {% else %}
              <strong class="govuk-tag govuk-tag--blue">Unread</strong></td>
              {% endif %}
            </tr>

 
        </tbody>
      </table>
    </div>
  </div>
</main>
</div>
{% endblock %}
 