{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container ">
        


        <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
          



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form action="https://dwp-health-pip-agent-c0845210c372.herokuapp.com/agent-0-9/XXX" method="post" class="form">

        

        <p class="govuk-heading-xl govuk-!-margin-bottom-8">Main menu</p>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

                        <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">


        

                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
                    <h2 class="govuk-body govuk-!-font-weight-bold">Find a claimant or referral</h2>

					<p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="./Booked appointments.html">View my appointments</a></p>
					<p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="./My open tasks.html">View my open tasks</a>

                  </p></div>


<div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
                    <h2 class="govuk-body govuk-!-font-weight-bold">Find a claimant or referral</h2>

					<p class="govuk-!-margin-bottom-2"><a class="ovuk-body govuk-!-font-size-19" href="https://agent-staging.health.dwp.gov.uk/workflow/referrals/filter">View a caseload or status</a></p>
					<p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="https://health-referral-status.herokuapp.com/finding-and-organising/v5/find-claimant">Find someone</a></p>                    


                  </p></div>

                </div>



        </div></div></div></div></form></div></div></main>
      </div>


</body></html>

{% endblock %}
