{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="backLink" role="navigation">
      
  </div>
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
      
<h1 class="govuk-heading-l">Main menu</h1>  


<!-- Replace govuk-summary-card with dwp-card -->
<div class="govuk-summary-card govuk-summary-card--clickable">
  <div class="govuk-summary-card__content">
  <h2 class="govuk-heading-m">Task manager</h2>
  <h3 class="govuk-summary-card__heading govuk-summary-carding-s" id="filter">
    <a class="govuk-summary-card__link govuk-link" href="main-menu-mar2026-1.html">Task dashboard</a>
    </h3> 
  <h3 class="govuk-summary-card__heading govuk-summary-carding-m" id="filter">
  <a class="govuk-summary-card__link govuk-link" href="caseload-or-status-single.html">Changes to PIP referrals</a>
  </h3>
  
  
  </h3>
  </div>
  </div>

<div class="govuk-summary-card govuk-summary-card--clickable">
<div class="govuk-summary-card__content">
<h2 class="govuk-heading-m">Find a referral</h2>
<h3 class="govuk-summary-card__heading govuk-summary-carding-m" id="filter">
<a class="govuk-summary-card__link govuk-link" href="caseload-or-status-single.html">View a caseload or status</a>
</h3>

<h3 class="govuk-summary-card__heading govuk-summary-carding-s" id="filter">
<a class="govuk-summary-card__link govuk-link" href="find-a-claimant-single.html">Search for a claimant</a>
</h3>


</div>
</div>

<div class="govuk-summary-card govuk-summary-card--clickable">
  <div class="govuk-summary-card__content">
  <h2 class="govuk-heading-m">Manage referrals</h2>
  <h3 class="govuk-summary-card__heading govuk-summary-carding-m" id="filter">
  <a class="govuk-summary-card__link govuk-link" href="caseload-or-status-single.html">New referrals to assign (26)</a>
  </h3>
  
  <h3 class="govuk-summary-card__heading govuk-summary-carding-s" id="filter">
  <a class="govuk-summary-card__link govuk-link" href="find-a-claimant-single.html">Create a referral</a>
  </h3>
  
  <h3 class="govuk-summary-card__heading govuk-summary-carding-s" id="filter">
    <a class="govuk-summary-card__link govuk-link" href="find-a-claimant-single.html">View incomplete referrals</a>
    </h3>
  </div>
  </div>



<div class="govuk-summary-card govuk-summary-card--clickable">
  <div class="govuk-summary-card__content">
  <h2 class="govuk-heading-m">Manage appointments</h2>
  <h3 class="govuk-summary-card__heading govuk-summary-carding-m" id="filter">
  <a class="govuk-summary-card__link govuk-link" href="caseload-or-status-single.html">Manage booked assessments</a>
  </h3>
  
  <h3 class="govuk-summary-card__heading govuk-summary-carding-s" id="filter">
  <a class="govuk-summary-card__link govuk-link" href="find-a-claimant-single.html">Manage HCP profiles</a>
  </h3>
  
  </h3>
  </div>
  </div>



  </main>
</div>

{% endblock %}
