{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="backLink" role="navigation">
      
  </div>
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
      
<h1 class="govuk-heading-l">Main menu</h1>  

<!-- Replace govuk-summary-card with dwp-card -->
<div class="govuk-summary-card govuk-summary-card--clickable">
<div class="govuk-summary-card__content">
<h2 class="govuk-summary-card__heading govuk-summary-carding-m" id="filter">
<a class="govuk-summary-card__link govuk-link" href="main-menu-mar2026-1.html">View dashboard</a>
</h2>
<p class="govuk-summary-card__description">View your tasks and appointments list</p>
</div>
</div>


<div class="govuk-summary-card govuk-summary-card--clickable">
<div class="govuk-summary-card__content">
<h2 class="govuk-summary-card__heading govuk-summary-carding-m" id="find-a-claimant">
<a class="govuk-summary-card__link govuk-link" href="find-a-claimant-single.html">Find a claimant</a>
</h2>
<p class="govuk-summary-card__description">Search for a claimant to view their referral</p>
</div>
</div>




<div class="govuk-summary-card govuk-summary-card--clickable">
<div class="govuk-summary-card__content">
<h2 class="govuk-summary-card__heading govuk-summary-carding-m" id="create-referral">
<a class="govuk-summary-card__link govuk-link" href="">Create a referral</a>
</h2>
<p class="govuk-summary-card__description">Add a paper referral to the active referrals list</p>
</div>
</div>



<div class="govuk-summary-card govuk-summary-card--clickable">
<div class="govuk-summary-card__content">
<h2 class="govuk-summary-card__heading govuk-summary-carding-m" id="manage-hcp-profiles">
<a class="govuk-summary-card__link govuk-link" href="">Manage HCP profiles</a>
</h2>
<p class="govuk-summary-card__description">Add, edit or remove a HCP and their skills</p>
</div>
</div>


<div class="govuk-summary-card govuk-summary-card--clickable">
<div class="govuk-summary-card__content">
<h2 class="govuk-summary-card__heading govuk-summary-carding-m" id="incomplete-referral">
<a class="govuk-summary-card__link govuk-link" href="">View incomplete referrals</a>
</h2>
<p class="govuk-summary-card__description">View a list of incomplete referrals</p>
</div>
</div>


  </main>
</div>

{% endblock %}
