{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}


    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
      Status updated for Jane Doe
      </h1>
  
    </div>
    <p>
      <a href="claimant-detail-updated.html" aria-describedby="update-status">View details for Jane Doe</a>
   
      <p>
        <a href="" aria-describedby="update-status">Add entry to timeline</a>
    
      </p>


    </p>
    <p><a href="main-menu" >Go back to main menu</a>
  </p>



{% endblock %}

