{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Are you sure you want to update the status to 'Failed to attend'?
      </h1>

      <form class="form" action="status-confirmation" method="post">
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            If you update the status, you cannot change it.
          </strong>
        </div>

        {{ govukButton({
          text: "Update status"
        }) }}
    
      <p><a href="claimant-detail.html" >Cancel and return to referral details</a>
    </p>
  
      </form>

    </div>
  </div>

{% endblock %}
