{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <div>
        <div class="govuk-width-container">
          <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Sorry, there is a problem</h1>
                <p class="govuk-body">
                  You have not yet been assigned to a role, so cannot access this page.                
                </p>
               <p>To get assigned to a role, contact your manager.</p> 
                <p class="govuk-body">
                  <a class="govuk-link" href="main-menu.html">Return to HAS main menu</a> 
                </p>
              </div>
            </div>
          </main>
        </div>

    </div>
  </div>

{% endblock %}
