{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-full">
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

    <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          You have not been assigned to a role so will not be able to access the service.
          
        </p>
        <p class="govuk-notification-banner__heading">
          <p class="govuk-notification-banner__heading">
            Contact your manager to get assigned to a role.            
     
      </div>
    </div>
    <h1 class="govuk-heading-l">
       Main menu
    </h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="dwp-card dwp-card--clickable">
          <div class="dwp-card__content">
            <h2 class="dwp-card__heading dwp-heading-m">
              <a class="dwp-card__link" href="caseload-or-status">View a caseload or status</a>
            </h2>
            <p class="dwp-card__description">View a referral in progress by caseload or status</p>
          </div>
        </div>
        <div class="dwp-card dwp-card--clickable">
          <div class="dwp-card__content">
            <h2 class="dwp-card__heading dwp-heading-m">
              <a class="dwp-card__link" href="find-a-claimant.html">Find a claimant</a>
            </h2>
            <p class="dwp-card__description">Search for a claimant to view their referral</p>
          </div>
        </div>
       
 
       

       
        <div class="dwp-card dwp-card--clickable">
          <div class="dwp-card__content">
            <h2 class="dwp-card__heading dwp-heading-m">
              <a class="dwp-card__link" href="incomplete-referral.html">View incomplete referrals</a>
            </h2>
            <p class="dwp-card__description">View a list of incomplete referrals</p>
          </div>
        </div>
        <div class="dwp-card dwp-card--clickable">
          <div class="dwp-card__content">
            <h2 class="dwp-card__heading dwp-heading-m">
              <a class="dwp-card__link" href="Unactioned-pip-alerts.html">Changes to PIP referrals</a>
            </h2>
            <p class="dwp-card__description">Confirm new referrals and view alerts for supporting evidence, documents and changes of circumstances added to existing referrals</p>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

{% endblock %}
