{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="backLink" role="navigation">
      
  </div>
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
      
<h1 class="govuk-heading-l">Main menu</h1>  

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <strong class="govuk-tag" >
      Lot 2
    </strong>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="Lot-selection-4.html">Change Lot<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
</dl>
<div class="govuk-!-padding-bottom-5"></div>


<!-- Replace govuk-summary-card with dwp-card -->
<div class="govuk-summary-card govuk-summary-card--clickable">
<div class="govuk-summary-card__content">
<h2 class="govuk-summary-card__heading govuk-summary-carding-m" id="filter">
<a class="govuk-summary-card__link govuk-link" href="caseload-or-status.html">View a caseload or status</a>
</h2>
<p class="govuk-summary-card__description">View a referral in progress by caseload or status</p>
</div>
</div>


<div class="govuk-summary-card govuk-summary-card--clickable">
<div class="govuk-summary-card__content">
<h2 class="govuk-summary-card__heading govuk-summary-carding-m" id="find-a-claimant">
<a class="govuk-summary-card__link govuk-link" href="find-a-claimant.html">Find a claimant</a>
</h2>
<p class="govuk-summary-card__description">Search for a claimant to view their referral</p>
</div>
</div>


<div class="govuk-summary-card govuk-summary-card--clickable">
<div class="govuk-summary-card__content">
<h2 class="govuk-summary-card__heading govuk-summary-carding-m" id="unassigned-referrals">
<a class="govuk-summary-card__link govuk-link" href="new-referrals-to-assign.html">New referrals to assign (26)</a>
</h2>
<p class="govuk-summary-card__description">Assign new referrals to a caseload</p>
</div>
</div>



<div class="govuk-summary-card govuk-summary-card--clickable">
<div class="govuk-summary-card__content">
<h2 class="govuk-summary-card__heading govuk-summary-carding-m" id="create-referral">
<a class="govuk-summary-card__link govuk-link" href="">Create a referral</a>
</h2>
<p class="govuk-summary-card__description">Add a paper referral to the active referrals list</p>
</div>
</div>



<div class="govuk-summary-card govuk-summary-card--clickable">
<div class="govuk-summary-card__content">
<h2 class="govuk-summary-card__heading govuk-summary-carding-m" id="manage-booking">
<a class="govuk-summary-card__link govuk-link" href="">Manage booked assessments</a>
</h2>
<p class="govuk-summary-card__description">View or cancel a booked assessment or assign a HCP</p>
</div>
</div>



<div class="govuk-summary-card govuk-summary-card--clickable">
<div class="govuk-summary-card__content">
<h2 class="govuk-summary-card__heading govuk-summary-carding-m" id="manage-hcp-profiles">
<a class="govuk-summary-card__link govuk-link" href="">Manage HCP profiles</a>
</h2>
<p class="govuk-summary-card__description">Add, edit or remove a HCP and their skills</p>
</div>
</div>


<div class="govuk-summary-card govuk-summary-card--clickable">
<div class="govuk-summary-card__content">
<h2 class="govuk-summary-card__heading govuk-summary-carding-m" id="incomplete-referral">
<a class="govuk-summary-card__link govuk-link" href="multi-Lot-user-incomplete-referral.html">View incomplete referrals</a>
</h2>
<p class="govuk-summary-card__description">View a list of incomplete referrals</p>
</div>
</div>


<div class="govuk-summary-card govuk-summary-card--clickable">
<div class="govuk-summary-card__content">
<h2 class="govuk-summary-card__heading govuk-summary-carding-m" id="change-to-pip-referral">
<a class="govuk-summary-card__link govuk-link" href="multi-Lot-user-unactioned-pip-alerts.html">Changes to PIP referrals</a>
</h2>
<p class="govuk-summary-card__description">Confirm new referrals and view alerts for supporting evidence, documents and changes of circumstances added to existing referrals</p>
</div>
</div>


  </main>
</div>

{% endblock %}
