{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
  
      <form action="https://dwp-health-pip-agent-c0845210c372.herokuapp.com/agent-0-9/XXX" method="post" class="form">
  
  
        <p class="govuk-heading-l govuk-!-margin-bottom-8">Task manager</p>
  
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
  
                        <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
  
  
        
  
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
                    <h2 class="govuk-heading-m">My open tasks</h2>
            <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Claimant name</th>
              <th scope="col" class="govuk-table__header">Task</th>
              <th scope="col" class="govuk-table__header">Benefit</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="task-list-sd.html">Sam Doe</a></td>
              <td class="govuk-table__cell">Review medical evidence</td>
              <td class="govuk-table__cell">PIP</td>
              </tr>
               <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="task-list-js.html">Jane Smith</a></td>
              <td class="govuk-table__cell">Review new referral</td>
              <td class="govuk-table__cell">UC</td>
              </tr>
               <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="./Claimant details.html">John Doherty</a></td>
              <td class="govuk-table__cell">Review new referral</td>
              <td class="govuk-table__cell">PIP</td>
              </tr>
              
            </tbody>
            </table>
            
            
                <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="my-tasks.html">View all tasks</a>
  
                  </p></div>
  
  
  <div class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
                    <h2 class="govuk-heading-m">My appointments for today</h2>
  
      <table data-module="moj-sortable-table" class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Claimant</th>
            <th scope="col" class="govuk-table__header">Benefit</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Time</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Type</th>
           
          </tr>
        </thead>
        <tbody class="govuk-table__body">
         
         
          <tr class="govuk-table__row srel esa handsworth">
            <td class="govuk-table__cell"><a href="./Assessment details - Assessment management - Health Assessment Service.html" aria-describedby="claimant-detail-report">Sam Doe</a></td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell" data-sort-value="220708">11am</td>
  
            <td class="govuk-table__cell" data-sort-value="1"> Telephone</td>
  
          </tr>
  
  
           <tr class="govuk-table__row srel esa handsworth">
            <td class="govuk-table__cell"><a href="https://prototype-has-availability-97cb1fec4856.herokuapp.com/v3/has-manage-appt/appointments" aria-describedby="claimant-detail-report">Noelle Carmel</a></td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell" data-sort-value="220708">1pm</td>
  
            <td class="govuk-table__cell" data-sort-value="1">Telephone</td>
  
          </tr>
          <tr class="govuk-table__row srel esa handsworth">
            <td class="govuk-table__cell"><a href="https://prototype-has-availability-97cb1fec4856.herokuapp.com/v3/has-manage-appt/appointments" aria-describedby="claimant-detail-report">Noelle Carmel</a></td>
            <td class="govuk-table__cell">UC</td>
            <td class="govuk-table__cell" data-sort-value="220708">5pm</td>
  
            <td class="govuk-table__cell" data-sort-value="1">Face to Face</td>
  
          </tr>
              </tbody>
      </table>
    
    <p class="govuk-!"><a class="govuk-body govuk-!-font-size-19" href="booked-appointments-1.html">View all my appointments</a>
  
      
</div>

<div class="govuk-width-container">  
  <a href="main-menu-new.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
    Go to main menu
  </a>
</div>   
{% endblock %}
