{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}
{% block content %}

  <form class="form" action="/ui-workflow_qa02_workflow/referrals/assign/bulk?page=1&amp;size=100" autocomplete="off" method="post" novalidate="">
      <input type="hidden" name="_csrf" value="">
      
              <div class="govuk-form-group">
          
              <h1 class="govuk-heading-l">New referrals to assign</h1>
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <strong class="govuk-tag" >
                    Lot 2
                  </strong>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="lot-selection-2.html">Change lot<span class="govuk-visually-hidden"> name</span></a>
                  </dd>
                </div>
              </dl>
              <span id="none-selected-error" class="govuk-error-message" data-gtm-vis-polling-id58715114_92="74" data-gtm-vis-polling-id58715114_816="75" data-gtm-vis-polling-id58715114_867="76" data-gtm-vis-polling-id58715114_899="77">
                  <span class="govuk-visually-hidden">Error: </span>
                  
              </span>
              

  <script src="/ui-workflow_qa02_workflow/assets/select-all.js"></script>
  <noscript>
    <style>
      #select-all {
        display: none;
      }
    </style>
  </noscript>

<table class="govuk-table has-sortable-table" data-count="26" id="assign_referrals_table">


<thead class="govuk-table__head">
  <tr class="govuk-table__row">
  
    <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Select All</span>
              <div class="govuk-checkboxes__item govuk-checkboxes--small" id="select_all_checkbox">
                  <input type="checkbox" class="govuk-checkboxes__input" onclick="toggle(this)" id="select-all" name="select-all" title="Select all" aria-label="select-all-label" role="switch">
                  <label id="select-all-label" class="govuk-label govuk-checkboxes__label" for="select-all">
                      <span id="select-all-span">Select all</span>
                </label>
              </div></th>
  
    <th scope="col" class="govuk-table__header" id="name-header">Claimant name</th>
  
    <th scope="col" class="govuk-table__header has-width-fifteen-percent" id="nino-header">NI number</th>
  
    <th scope="col" class="govuk-table__header" id="benefit-type-header">Benefit</th>
  
    <th scope="col" class="govuk-table__header" id="referral-date-header">Referral date</th>
  
    <th scope="col" class="govuk-table__header" id="srel-header">End of life</th>
  
    <th scope="col" class="govuk-table__header has-width-fifteen-percent" id="site-header">Assessment centre</th>
  
  </tr>
</thead>

<tbody class="govuk-table__body">
  
    
     
    
  
    
      
  
    
      <tr class="govuk-table__row">
      
        
        
        <td class="govuk-table__cell checkbox_column">
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
          <input type="checkbox" class="govuk-checkboxes__input" id="assign-5" value="3f985db0-af28-47ca-bdf1-657162e53807" name="assign-guids">
              <label class="govuk-label govuk-checkboxes__label" for="assign-5">
                  <span class="govuk-visually-hidden">Select 5</span>
              </label>
          </div>
  </td>
        
      
        
        
        <td class="govuk-table__cell displayName_column" id="claimant-display-name-5" data-label="Claimant name"><a href="/ui-workflow_qa02_workflow/referrals/3f985db0-af28-47ca-bdf1-657162e53807" class="govuk-link">Dillon Cronin</a></td>
        
      
        
        
        <td class="govuk-table__cell column" id="nino-5" data-label="NI number">
<span class="workflow-nino"><span>A<span class="govuk-visually-hidden unselectable">&nbsp;</span>A</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>61</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>66</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>48</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>C</span></span></td>
        
      
        
        
        <td class="govuk-table__cell column" id="benefit-type-5" data-label="Benefit">ESA</td>
        
      
        
        
        <td class="govuk-table__cell referral-date-name-col column" id="referral-date-5" data-label="Referral date">6 Feb 2024</td>
        
      
        
        
        <td class="govuk-table__cell column" id="srel-5" data-label="End of life">Yes</td>
        
      
        
        
        <td class="govuk-table__cell column" id="site-5" data-label="Assessment Centre">Tresco House</td>
        
      
      </tr>
    
  
    
      <tr class="govuk-table__row">
      
        
        
        <td class="govuk-table__cell checkbox_column">
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
          <input type="checkbox" class="govuk-checkboxes__input" id="assign-6" value="e6bd7c5d-7acb-4474-9d8d-f416617b94ba" name="assign-guids">
              <label class="govuk-label govuk-checkboxes__label" for="assign-6">
                  <span class="govuk-visually-hidden">Select 6</span>
              </label>
          </div>
  </td>
        
      
        
        
        <td class="govuk-table__cell displayName_column" id="claimant-display-name-6" data-label="Claimant name"><a href="/ui-workflow_qa02_workflow/referrals/e6bd7c5d-7acb-4474-9d8d-f416617b94ba" class="govuk-link">Juan Hirthe</a></td>
        
      
        
        
        <td class="govuk-table__cell column" id="nino-6" data-label="NI number">
<span class="workflow-nino"><span>A<span class="govuk-visually-hidden unselectable">&nbsp;</span>A</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>59</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>09</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>36</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>C</span></span></td>
        
      
        
        
        <td class="govuk-table__cell column" id="benefit-type-6" data-label="Benefit">ESA</td>
        
      
        
        
        <td class="govuk-table__cell referral-date-name-col column" id="referral-date-6" data-label="Referral date">6 Feb 2024</td>
        
      
        
        
        <td class="govuk-table__cell column" id="srel-6" data-label="End of life">Yes</td>
        
      
        
        
        <td class="govuk-table__cell column" id="site-6" data-label="Assessment Centre">Tresco House</td>
        
      
      </tr>
    
  
    
      <tr class="govuk-table__row">
      
        
        
        <td class="govuk-table__cell checkbox_column">
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
          <input type="checkbox" class="govuk-checkboxes__input" id="assign-7" value="2d1a6d61-e421-4f34-9667-02c8b2e5d3fe" name="assign-guids">
              <label class="govuk-label govuk-checkboxes__label" for="assign-7">
                  <span class="govuk-visually-hidden">Select 7</span>
              </label>
          </div>
  </td>
        
      
        
        
        <td class="govuk-table__cell displayName_column" id="claimant-display-name-7" data-label="Claimant name"><a href="/ui-workflow_qa02_workflow/referrals/2d1a6d61-e421-4f34-9667-02c8b2e5d3fe" class="govuk-link">Danilo O'Keefe</a></td>
        
      
        
        
        <td class="govuk-table__cell column" id="nino-7" data-label="NI number">
<span class="workflow-nino"><span>A<span class="govuk-visually-hidden unselectable">&nbsp;</span>A</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>78</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>82</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>95</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>C</span></span></td>
        
      
        
        
        <td class="govuk-table__cell column" id="benefit-type-7" data-label="Benefit">ESA</td>
        
      
        
        
        <td class="govuk-table__cell referral-date-name-col column" id="referral-date-7" data-label="Referral date">16 Feb 2024</td>
        
      
        
        
        <td class="govuk-table__cell column" id="srel-7" data-label="End of life">Yes</td>
        
      
        
        
        <td class="govuk-table__cell column" id="site-7" data-label="Assessment Centre">Tresco House</td>
        
      
      </tr>
    
  
    
      <tr class="govuk-table__row">
      
        
        
        <td class="govuk-table__cell checkbox_column">
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
          <input type="checkbox" class="govuk-checkboxes__input" id="assign-8" value="65b76f3f-fa92-42b3-824a-bf481937e2dd" name="assign-guids">
              <label class="govuk-label govuk-checkboxes__label" for="assign-8">
                  <span class="govuk-visually-hidden">Select 8</span>
              </label>
          </div>
  </td>
        
      
        
        
        <td class="govuk-table__cell displayName_column" id="claimant-display-name-8" data-label="Claimant name"><a href="/ui-workflow_qa02_workflow/referrals/65b76f3f-fa92-42b3-824a-bf481937e2dd" class="govuk-link">Elvis Howe</a></td>
        
      
        
        
        <td class="govuk-table__cell column" id="nino-8" data-label="NI number">
<span class="workflow-nino"><span>A<span class="govuk-visually-hidden unselectable">&nbsp;</span>B</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>70</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>07</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>87</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>A</span></span></td>
        
      
        
        
        <td class="govuk-table__cell column" id="benefit-type-8" data-label="Benefit">PIP</td>
        
      
        
        
        <td class="govuk-table__cell referral-date-name-col column" id="referral-date-8" data-label="Referral date">27 Feb 2024</td>
        
      
        
        
        <td class="govuk-table__cell column" id="srel-8" data-label="End of life">Yes</td>
        
      
        
        
        <td class="govuk-table__cell column" id="site-8" data-label="Assessment Centre">Tresco House</td>
        
      
      </tr>
    
  
    
      <tr class="govuk-table__row">
      
        
        
        <td class="govuk-table__cell checkbox_column">
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
          <input type="checkbox" class="govuk-checkboxes__input" id="assign-9" value="4b00b7db-b273-41fc-abde-ecbe91fe14e1" name="assign-guids">
              <label class="govuk-label govuk-checkboxes__label" for="assign-9">
                  <span class="govuk-visually-hidden">Select 9</span>
              </label>
          </div>
  </td>
        
      
        
        
        <td class="govuk-table__cell displayName_column" id="claimant-display-name-9" data-label="Claimant name"><a href="/ui-workflow_qa02_workflow/referrals/4b00b7db-b273-41fc-abde-ecbe91fe14e1" class="govuk-link">Robbie O'Connell</a></td>
        
      
        
        
        <td class="govuk-table__cell column" id="nino-9" data-label="NI number">
<span class="workflow-nino"><span>C<span class="govuk-visually-hidden unselectable">&nbsp;</span>M</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>85</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>10</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>67</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>B</span></span></td>
        
      
        
        
        <td class="govuk-table__cell column" id="benefit-type-9" data-label="Benefit">PIP</td>
        
      
        
        
        <td class="govuk-table__cell referral-date-name-col column" id="referral-date-9" data-label="Referral date">29 Feb 2024</td>
        
      
        
        
        <td class="govuk-table__cell column" id="srel-9" data-label="End of life">Yes</td>
        
      
        
        
        <td class="govuk-table__cell column" id="site-9" data-label="Assessment Centre">Tresco House</td>
        
      
      </tr>
    
  
    
      <tr class="govuk-table__row">
      
        
        
        <td class="govuk-table__cell checkbox_column">
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
          <input type="checkbox" class="govuk-checkboxes__input" id="assign-10" value="24b0491e-faaf-4bb8-809a-582a0e7ab0cc" name="assign-guids">
              <label class="govuk-label govuk-checkboxes__label" for="assign-10">
                  <span class="govuk-visually-hidden">Select 10</span>
              </label>
          </div>
  </td>
        
      
        
        
        <td class="govuk-table__cell displayName_column" id="claimant-display-name-10" data-label="Claimant name"><a href="/ui-workflow_qa02_workflow/referrals/24b0491e-faaf-4bb8-809a-582a0e7ab0cc" class="govuk-link">Stuart Funk</a></td>
        
      
        
        
        <td class="govuk-table__cell column" id="nino-10" data-label="NI number">
<span class="workflow-nino"><span>A<span class="govuk-visually-hidden unselectable">&nbsp;</span>B</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>48</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>47</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>00</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>C</span></span></td>
        
      
        
        
        <td class="govuk-table__cell column" id="benefit-type-10" data-label="Benefit">ESA</td>
        
      
        
        
        <td class="govuk-table__cell referral-date-name-col column" id="referral-date-10" data-label="Referral date">7 Mar 2024</td>
        
      
        
        
        <td class="govuk-table__cell column" id="srel-10" data-label="End of life">Yes</td>
        
      
        
        
        <td class="govuk-table__cell column" id="site-10" data-label="Assessment Centre">Tresco House</td>
        
      
      </tr>
    
  
    
      <tr class="govuk-table__row">
      
        
        
        <td class="govuk-table__cell checkbox_column">
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
          <input type="checkbox" class="govuk-checkboxes__input" id="assign-11" value="038a4ff6-64fb-4ac9-8c3d-657e265d025e" name="assign-guids">
              <label class="govuk-label govuk-checkboxes__label" for="assign-11">
                  <span class="govuk-visually-hidden">Select 11</span>
              </label>
          </div>
  </td>
        
      
        
        
        <td class="govuk-table__cell displayName_column" id="claimant-display-name-11" data-label="Claimant name"><a href="/ui-workflow_qa02_workflow/referrals/038a4ff6-64fb-4ac9-8c3d-657e265d025e" class="govuk-link">Dominique Ryan</a></td>
        
      
        
        
        <td class="govuk-table__cell column" id="nino-11" data-label="NI number">
<span class="workflow-nino"><span>C<span class="govuk-visually-hidden unselectable">&nbsp;</span>M</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>62</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>78</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>39</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>B</span></span></td>
        
      
        
        
        <td class="govuk-table__cell column" id="benefit-type-11" data-label="Benefit">PIP</td>
        
      
        
        
        <td class="govuk-table__cell referral-date-name-col column" id="referral-date-11" data-label="Referral date">7 Mar 2024</td>
        
      
        
        
        <td class="govuk-table__cell column" id="srel-11" data-label="End of life">Yes</td>
        
      
        
        
        <td class="govuk-table__cell column" id="site-11" data-label="Assessment Centre">Tresco House</td>
        
      
      </tr>
    
  
    
      <tr class="govuk-table__row">
      
        
        
        <td class="govuk-table__cell checkbox_column">
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
          <input type="checkbox" class="govuk-checkboxes__input" id="assign-12" value="44fccfc3-92c7-44fe-b579-41965c06428a" name="assign-guids">
              <label class="govuk-label govuk-checkboxes__label" for="assign-12">
                  <span class="govuk-visually-hidden">Select 12</span>
              </label>
          </div>
  </td>
        
      
        
        
        <td class="govuk-table__cell displayName_column" id="claimant-display-name-12" data-label="Claimant name"><a href="/ui-workflow_qa02_workflow/referrals/44fccfc3-92c7-44fe-b579-41965c06428a" class="govuk-link">John Smith</a></td>
        
      
        
        
        <td class="govuk-table__cell column" id="nino-12" data-label="NI number">
<span class="workflow-nino"><span>A<span class="govuk-visually-hidden unselectable">&nbsp;</span>A</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>11</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>22</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>33</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>A</span></span></td>
        
      
        
        
        <td class="govuk-table__cell column" id="benefit-type-12" data-label="Benefit">PIP</td>
        
      
        
        
        <td class="govuk-table__cell referral-date-name-col column" id="referral-date-12" data-label="Referral date">12 Mar 2024</td>
        
      
        
        
        <td class="govuk-table__cell column" id="srel-12" data-label="End of life">Yes</td>
        
      
        
        
        <td class="govuk-table__cell column" id="site-12" data-label="Assessment Centre">Tresco House</td>
        
      
      </tr>
    
  
    
      <tr class="govuk-table__row">
      
        
        
        <td class="govuk-table__cell checkbox_column">
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
          <input type="checkbox" class="govuk-checkboxes__input" id="assign-13" value="13428a90-42ec-4126-a307-67b07ce16d59" name="assign-guids">
              <label class="govuk-label govuk-checkboxes__label" for="assign-13">
                  <span class="govuk-visually-hidden">Select 13</span>
              </label>
          </div>
  </td>
        
      
        
        
        <td class="govuk-table__cell displayName_column" id="claimant-display-name-13" data-label="Claimant name"><a href="/ui-workflow_qa02_workflow/referrals/13428a90-42ec-4126-a307-67b07ce16d59" class="govuk-link">Kelvin Schinner</a></td>
        
      
        
        
        <td class="govuk-table__cell column" id="nino-13" data-label="NI number">
<span class="workflow-nino"><span>A<span class="govuk-visually-hidden unselectable">&nbsp;</span>A</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>25</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>50</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>22</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>C</span></span></td>
        
      
        
        
        <td class="govuk-table__cell column" id="benefit-type-13" data-label="Benefit">ESA</td>
        
      
        
        
        <td class="govuk-table__cell referral-date-name-col column" id="referral-date-13" data-label="Referral date">12 Mar 2024</td>
        
      
        
        
        <td class="govuk-table__cell column" id="srel-13" data-label="End of life">Yes</td>
        
      
        
        
        <td class="govuk-table__cell column" id="site-13" data-label="Assessment Centre">Tresco House</td>
        
      
      </tr>
    
  
    
      <tr class="govuk-table__row">
      
        
        
        <td class="govuk-table__cell checkbox_column">
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
          <input type="checkbox" class="govuk-checkboxes__input" id="assign-14" value="682bc3c4-a667-4d17-9066-ae5aa26a1cee" name="assign-guids">
              <label class="govuk-label govuk-checkboxes__label" for="assign-14">
                  <span class="govuk-visually-hidden">Select 14</span>
              </label>
          </div>
  </td>
        
      
        
        
        <td class="govuk-table__cell displayName_column" id="claimant-display-name-14" data-label="Claimant name"><a href="/ui-workflow_qa02_workflow/referrals/682bc3c4-a667-4d17-9066-ae5aa26a1cee" class="govuk-link">Kelvin Schinner</a></td>
        
      
        
        
        <td class="govuk-table__cell column" id="nino-14" data-label="NI number">
<span class="workflow-nino"><span>A<span class="govuk-visually-hidden unselectable">&nbsp;</span>A</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>25</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>50</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>22</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>C</span></span></td>
        
      
        
        
        <td class="govuk-table__cell column" id="benefit-type-14" data-label="Benefit">ESA</td>
        
      
        
        
        <td class="govuk-table__cell referral-date-name-col column" id="referral-date-14" data-label="Referral date">12 Mar 2024</td>
        
      
        
        
        <td class="govuk-table__cell column" id="srel-14" data-label="End of life">Yes</td>
        
      
        
        
        <td class="govuk-table__cell column" id="site-14" data-label="Assessment Centre">Tresco House</td>
        
      
      </tr>
    
  
    
      <tr class="govuk-table__row">
      
        
        
        <td class="govuk-table__cell checkbox_column">
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
          <input type="checkbox" class="govuk-checkboxes__input" id="assign-15" value="dbe933e0-fbd4-4f50-9260-1b16c4d48597" name="assign-guids">
              <label class="govuk-label govuk-checkboxes__label" for="assign-15">
                  <span class="govuk-visually-hidden">Select 15</span>
              </label>
          </div>
  </td>
        
      
        
        
        <td class="govuk-table__cell displayName_column" id="claimant-display-name-15" data-label="Claimant name"><a href="/ui-workflow_qa02_workflow/referrals/dbe933e0-fbd4-4f50-9260-1b16c4d48597" class="govuk-link">Alfred Mongo</a></td>
        
      
        
        
        <td class="govuk-table__cell column" id="nino-15" data-label="NI number">
<span class="workflow-nino"><span>A<span class="govuk-visually-hidden unselectable">&nbsp;</span>B</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>33</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>32</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>00</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>A</span></span></td>
        
      
        
        
        <td class="govuk-table__cell column" id="benefit-type-15" data-label="Benefit">PIP</td>
        
      
        
        
        <td class="govuk-table__cell referral-date-name-col column" id="referral-date-15" data-label="Referral date">16 Jan 2024</td>
        
      
        
        
        <td class="govuk-table__cell column" id="srel-15" data-label="End of life">No</td>
        
      
        
        
        <td class="govuk-table__cell column" id="site-15" data-label="Assessment Centre">Tresco House</td>
        
      
      </tr>
    
  
    
      <tr class="govuk-table__row">
      
        
        
        <td class="govuk-table__cell checkbox_column">
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
          <input type="checkbox" class="govuk-checkboxes__input" id="assign-16" value="dd5275c7-5f0b-4d23-a431-d4a8e829dc2e" name="assign-guids">
              <label class="govuk-label govuk-checkboxes__label" for="assign-16">
                  <span class="govuk-visually-hidden">Select 16</span>
              </label>
          </div>
  </td>
        
      
        
        
        <td class="govuk-table__cell displayName_column" id="claimant-display-name-16" data-label="Claimant name"><a href="/ui-workflow_qa02_workflow/referrals/dd5275c7-5f0b-4d23-a431-d4a8e829dc2e" class="govuk-link">Ethel Jones</a></td>
        
      
        
        
        <td class="govuk-table__cell column" id="nino-16" data-label="NI number">
<span class="workflow-nino"><span>T<span class="govuk-visually-hidden unselectable">&nbsp;</span>S</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>10</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>30</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>01</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>A</span></span></td>
        
      
        
        
        <td class="govuk-table__cell column" id="benefit-type-16" data-label="Benefit">ESA</td>
        
      
        
        
        <td class="govuk-table__cell referral-date-name-col column" id="referral-date-16" data-label="Referral date">25 Jan 2024</td>
        
      
        
        
        <td class="govuk-table__cell column" id="srel-16" data-label="End of life">No</td>
        
      
        
        
        <td class="govuk-table__cell column" id="site-16" data-label="Assessment Centre">Tresco House</td>
        
      
      </tr>
    
  
    
      <tr class="govuk-table__row">
      
        
        
        <td class="govuk-table__cell checkbox_column">
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
          <input type="checkbox" class="govuk-checkboxes__input" id="assign-17" value="a93e9f16-3634-4059-95a3-2679fb555440" name="assign-guids">
              <label class="govuk-label govuk-checkboxes__label" for="assign-17">
                  <span class="govuk-visually-hidden">Select 17</span>
              </label>
          </div>
  </td>
        
      
        
        
        <td class="govuk-table__cell displayName_column" id="claimant-display-name-17" data-label="Claimant name"><a href="/ui-workflow_qa02_workflow/referrals/a93e9f16-3634-4059-95a3-2679fb555440" class="govuk-link">Jane Al-khaddar</a></td>
        
      
        
        
        <td class="govuk-table__cell column" id="nino-17" data-label="NI number">
<span class="workflow-nino"><span>S<span class="govuk-visually-hidden unselectable">&nbsp;</span>T</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>10</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>22</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>02</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>A</span></span></td>
        
      
        
        
        <td class="govuk-table__cell column" id="benefit-type-17" data-label="Benefit">ESA</td>
        
      
        
        
        <td class="govuk-table__cell referral-date-name-col column" id="referral-date-17" data-label="Referral date">26 Jan 2024</td>
        
      
        
        
        <td class="govuk-table__cell column" id="srel-17" data-label="End of life">No</td>
        
      
        
        
        <td class="govuk-table__cell column" id="site-17" data-label="Assessment Centre">Tresco House</td>
        
      
      </tr>
    
  
    
      <tr class="govuk-table__row">
      
        
        
        <td class="govuk-table__cell checkbox_column">
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
          <input type="checkbox" class="govuk-checkboxes__input" id="assign-18" value="0f1c839f-a3ab-42f7-aa25-51d32c5b562d" name="assign-guids">
              <label class="govuk-label govuk-checkboxes__label" for="assign-18">
                  <span class="govuk-visually-hidden">Select 18</span>
              </label>
          </div>
  </td>
        
      
        
        
        <td class="govuk-table__cell displayName_column" id="claimant-display-name-18" data-label="Claimant name"><a href="/ui-workflow_qa02_workflow/referrals/0f1c839f-a3ab-42f7-aa25-51d32c5b562d" class="govuk-link">Tom Peter DataTest</a></td>
        
      
        
        
        <td class="govuk-table__cell column" id="nino-18" data-label="NI number">
<span class="workflow-nino"><span>A<span class="govuk-visually-hidden unselectable">&nbsp;</span>X</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>11</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>11</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>11</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>A</span></span></td>
        
      
        
        
        <td class="govuk-table__cell column" id="benefit-type-18" data-label="Benefit">PIP</td>
        
      
        
        
        <td class="govuk-table__cell referral-date-name-col column" id="referral-date-18" data-label="Referral date">26 Jan 2024</td>
        
      
        
        
        <td class="govuk-table__cell column" id="srel-18" data-label="End of life">No</td>
        
      
        
        
        <td class="govuk-table__cell column" id="site-18" data-label="Assessment Centre">Tresco House</td>
        
      
      </tr>
    
  
    
      <tr class="govuk-table__row">
      
        
        
        <td class="govuk-table__cell checkbox_column">
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
          <input type="checkbox" class="govuk-checkboxes__input" id="assign-19" value="0ef1e588-4b33-44ae-be4d-fe74794977ca" name="assign-guids">
              <label class="govuk-label govuk-checkboxes__label" for="assign-19">
                  <span class="govuk-visually-hidden">Select 19</span>
              </label>
          </div>
  </td>
        
      
        
        
        <td class="govuk-table__cell displayName_column" id="claimant-display-name-19" data-label="Claimant name"><a href="/ui-workflow_qa02_workflow/referrals/0ef1e588-4b33-44ae-be4d-fe74794977ca" class="govuk-link">Tom Peter DataTest</a></td>
        
      
        
        
        <td class="govuk-table__cell column" id="nino-19" data-label="NI number">
<span class="workflow-nino"><span>A<span class="govuk-visually-hidden unselectable">&nbsp;</span>X</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>11</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>11</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>11</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>A</span></span></td>
        
      
        
        
        <td class="govuk-table__cell column" id="benefit-type-19" data-label="Benefit">PIP</td>
        
      
        
        
        <td class="govuk-table__cell referral-date-name-col column" id="referral-date-19" data-label="Referral date">26 Jan 2024</td>
        
      
        
        
        <td class="govuk-table__cell column" id="srel-19" data-label="End of life">No</td>
        
      
        
        
        <td class="govuk-table__cell column" id="site-19" data-label="Assessment Centre">Tresco House</td>
        
      
      </tr>
    
  
    
      <tr class="govuk-table__row">
      
        
        
        <td class="govuk-table__cell checkbox_column">
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
          <input type="checkbox" class="govuk-checkboxes__input" id="assign-20" value="db816277-346f-4bcf-b360-81103c6a8f6d" name="assign-guids">
              <label class="govuk-label govuk-checkboxes__label" for="assign-20">
                  <span class="govuk-visually-hidden">Select 20</span>
              </label>
          </div>
  </td>
        
      
        
        
        <td class="govuk-table__cell displayName_column" id="claimant-display-name-20" data-label="Claimant name"><a href="/ui-workflow_qa02_workflow/referrals/db816277-346f-4bcf-b360-81103c6a8f6d" class="govuk-link">Tom Peter DataTest</a></td>
        
      
        
        
        <td class="govuk-table__cell column" id="nino-20" data-label="NI number">
<span class="workflow-nino"><span>A<span class="govuk-visually-hidden unselectable">&nbsp;</span>X</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>11</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>11</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>11</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>A</span></span></td>
        
      
        
        
        <td class="govuk-table__cell column" id="benefit-type-20" data-label="Benefit">PIP</td>
        
      
        
        
        <td class="govuk-table__cell referral-date-name-col column" id="referral-date-20" data-label="Referral date">5 Feb 2024</td>
        
      
        
        
        <td class="govuk-table__cell column" id="srel-20" data-label="End of life">No</td>
        
      
        
        
        <td class="govuk-table__cell column" id="site-20" data-label="Assessment Centre">Tresco House</td>
        
      
      </tr>
    
  
    
      <tr class="govuk-table__row">
      
        
        
        <td class="govuk-table__cell checkbox_column">
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
          <input type="checkbox" class="govuk-checkboxes__input" id="assign-21" value="ea4d3d04-6733-4ed9-a79a-cd45d2107cd0" name="assign-guids">
              <label class="govuk-label govuk-checkboxes__label" for="assign-21">
                  <span class="govuk-visually-hidden">Select 21</span>
              </label>
          </div>
  </td>
        
      
        
        
        <td class="govuk-table__cell displayName_column" id="claimant-display-name-21" data-label="Claimant name"><a href="/ui-workflow_qa02_workflow/referrals/ea4d3d04-6733-4ed9-a79a-cd45d2107cd0" class="govuk-link">Tom Peter DataTest</a></td>
        
      
        
        
        <td class="govuk-table__cell column" id="nino-21" data-label="NI number">
<span class="workflow-nino"><span>A<span class="govuk-visually-hidden unselectable">&nbsp;</span>X</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>11</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>11</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>11</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>A</span></span></td>
        
      
        
        
        <td class="govuk-table__cell column" id="benefit-type-21" data-label="Benefit">PIP</td>
        
      
        
        
        <td class="govuk-table__cell referral-date-name-col column" id="referral-date-21" data-label="Referral date">6 Feb 2024</td>
        
      
        
        
        <td class="govuk-table__cell column" id="srel-21" data-label="End of life">No</td>
        
      
        
        
        <td class="govuk-table__cell column" id="site-21" data-label="Assessment Centre">Tresco House</td>
        
      
      </tr>
    
  
    
      <tr class="govuk-table__row">
      
        
        
        <td class="govuk-table__cell checkbox_column">
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
          <input type="checkbox" class="govuk-checkboxes__input" id="assign-22" value="036ff2dc-961f-4cf7-80a0-26b6d9730dda" name="assign-guids">
              <label class="govuk-label govuk-checkboxes__label" for="assign-22">
                  <span class="govuk-visually-hidden">Select 22</span>
              </label>
          </div>
  </td>
        
      
        
        
        <td class="govuk-table__cell displayName_column" id="claimant-display-name-22" data-label="Claimant name"><a href="/ui-workflow_qa02_workflow/referrals/036ff2dc-961f-4cf7-80a0-26b6d9730dda" class="govuk-link">Tom Peter DataTest</a></td>
        
      
        
        
        <td class="govuk-table__cell column" id="nino-22" data-label="NI number">
<span class="workflow-nino"><span>A<span class="govuk-visually-hidden unselectable">&nbsp;</span>X</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>11</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>11</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>11</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>A</span></span></td>
        
      
        
        
        <td class="govuk-table__cell column" id="benefit-type-22" data-label="Benefit">PIP</td>
        
      
        
        
        <td class="govuk-table__cell referral-date-name-col column" id="referral-date-22" data-label="Referral date">6 Feb 2024</td>
        
      
        
        
        <td class="govuk-table__cell column" id="srel-22" data-label="End of life">No</td>
        
      
        
        
        <td class="govuk-table__cell column" id="site-22" data-label="Assessment Centre">Tresco House</td>
        
      
      </tr>
    
  
    
      <tr class="govuk-table__row">
      
        
        
        <td class="govuk-table__cell checkbox_column">
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
          <input type="checkbox" class="govuk-checkboxes__input" id="assign-23" value="91bac10e-22a7-4c55-8f58-48f2642230e6" name="assign-guids">
              <label class="govuk-label govuk-checkboxes__label" for="assign-23">
                  <span class="govuk-visually-hidden">Select 23</span>
              </label>
          </div>
  </td>
        
      
        
        
        <td class="govuk-table__cell displayName_column" id="claimant-display-name-23" data-label="Claimant name"><a href="/ui-workflow_qa02_workflow/referrals/91bac10e-22a7-4c55-8f58-48f2642230e6" class="govuk-link">Tom Peter DataTest</a></td>
        
      
        
        
        <td class="govuk-table__cell column" id="nino-23" data-label="NI number">
<span class="workflow-nino"><span>A<span class="govuk-visually-hidden unselectable">&nbsp;</span>X</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>11</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>11</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>11</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>A</span></span></td>
        
      
        
        
        <td class="govuk-table__cell column" id="benefit-type-23" data-label="Benefit">PIP</td>
        
      
        
        
        <td class="govuk-table__cell referral-date-name-col column" id="referral-date-23" data-label="Referral date">6 Feb 2024</td>
        
      
        
        
        <td class="govuk-table__cell column" id="srel-23" data-label="End of life">No</td>
        
      
        
        
        <td class="govuk-table__cell column" id="site-23" data-label="Assessment Centre">Tresco House</td>
        
      
      </tr>
    
  
    
      <tr class="govuk-table__row">
      
        
        
        <td class="govuk-table__cell checkbox_column">
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
          <input type="checkbox" class="govuk-checkboxes__input" id="assign-24" value="b76bb7f4-1e2f-4ae8-90ac-bfe9e4fb2a69" name="assign-guids">
              <label class="govuk-label govuk-checkboxes__label" for="assign-24">
                  <span class="govuk-visually-hidden">Select 24</span>
              </label>
          </div>
  </td>
        
      
        
        
        <td class="govuk-table__cell displayName_column" id="claimant-display-name-24" data-label="Claimant name"><a href="/ui-workflow_qa02_workflow/referrals/b76bb7f4-1e2f-4ae8-90ac-bfe9e4fb2a69" class="govuk-link">First name Last name</a></td>
        
      
        
        
        <td class="govuk-table__cell column" id="nino-24" data-label="NI number">
<span class="workflow-nino"><span>P<span class="govuk-visually-hidden unselectable">&nbsp;</span>B</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>41</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>25</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>01</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>B</span></span></td>
        
      
        
        
        <td class="govuk-table__cell column" id="benefit-type-24" data-label="Benefit">ESA</td>
        
      
        
        
        <td class="govuk-table__cell referral-date-name-col column" id="referral-date-24" data-label="Referral date">9 Feb 2024</td>
        
      
        
        
        <td class="govuk-table__cell column" id="srel-24" data-label="End of life">No</td>
        
      
        
        
        <td class="govuk-table__cell column" id="site-24" data-label="Assessment Centre">Tresco House</td>
        
      
      </tr>
    
  
    
      <tr class="govuk-table__row">
      
        
        
        <td class="govuk-table__cell checkbox_column">
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
          <input type="checkbox" class="govuk-checkboxes__input" id="assign-25" value="40940b43-5831-437a-b297-21d59b3c4b2e" name="assign-guids">
              <label class="govuk-label govuk-checkboxes__label" for="assign-25">
                  <span class="govuk-visually-hidden">Select 25</span>
              </label>
          </div>
  </td>
        
      
        
        
        <td class="govuk-table__cell displayName_column" id="claimant-display-name-25" data-label="Claimant name"><a href="/ui-workflow_qa02_workflow/referrals/40940b43-5831-437a-b297-21d59b3c4b2e" class="govuk-link">RobTestingg Testing</a></td>
        
      
        
        
        <td class="govuk-table__cell column" id="nino-25" data-label="NI number">
<span class="workflow-nino"><span>A<span class="govuk-visually-hidden unselectable">&nbsp;</span>A</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>70</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>01</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>23</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>A</span></span></td>
        
      
        
        
        <td class="govuk-table__cell column" id="benefit-type-25" data-label="Benefit">ESA</td>
        
      
        
        
        <td class="govuk-table__cell referral-date-name-col column" id="referral-date-25" data-label="Referral date">14 Feb 2024</td>
        
      
        
        
        <td class="govuk-table__cell column" id="srel-25" data-label="End of life">No</td>
        
      
        
        
        <td class="govuk-table__cell column" id="site-25" data-label="Assessment Centre">Handsworth</td>
        
      
      </tr>
    
  
    
      <tr class="govuk-table__row">
      
        
        
        <td class="govuk-table__cell checkbox_column">
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
          <input type="checkbox" class="govuk-checkboxes__input" id="assign-26" value="9bbd6fc7-ae4f-4fa1-9d86-2a1636499d0f" name="assign-guids">
              <label class="govuk-label govuk-checkboxes__label" for="assign-26">
                  <span class="govuk-visually-hidden">Select 26</span>
              </label>
          </div>
  </td>
        
      
        
        
        <td class="govuk-table__cell displayName_column" id="claimant-display-name-26" data-label="Claimant name"><a href="/ui-workflow_qa02_workflow/referrals/9bbd6fc7-ae4f-4fa1-9d86-2a1636499d0f" class="govuk-link">Amy Test</a></td>
        
      
        
        
        <td class="govuk-table__cell column" id="nino-26" data-label="NI number">
<span class="workflow-nino"><span>T<span class="govuk-visually-hidden unselectable">&nbsp;</span>S</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>10</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>40</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>02</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>A</span></span></td>
        
      
        
        
        <td class="govuk-table__cell column" id="benefit-type-26" data-label="Benefit">ESA</td>
        
      
        
        
        <td class="govuk-table__cell referral-date-name-col column" id="referral-date-26" data-label="Referral date">26 Jan 2024</td>
        
      
        
        
        <td class="govuk-table__cell column" id="srel-26" data-label="End of life">No</td>
        
      
        
        
        <td class="govuk-table__cell column" id="site-26" data-label="Assessment Centre">Tresco House</td>
        
      
      </tr>
    
  
</tbody>
</table>


          </div>
      


  


<button type="submit" class="govuk-button" data-module="govuk-button" id="assign">
Assign referrals to caseload
</button>

      
      <nav class="moj-pagination" aria-label="Pagination navigation">

<ul class="moj-pagination__list"></ul>
  <p class="moj-pagination__results">Showing <b>1</b> to <b>26</b> of <b>26</b> referrals</p>
</nav>

  </form>
  

</main>
</div>
{% endblock %}
