{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}
{% block content %}

  <form class="form" action="/ui-workflow_qa02_workflow/referrals/assign/bulk?page=1&amp;size=100" autocomplete="off" method="post" novalidate="">
      <input type="hidden" name="_csrf" value="">
      
              <div class="govuk-form-group">
          
              <h1 class="govuk-heading-l">New referrals to assign</h1>
              <div class="govuk-grid-row">
 
              </div>
              <span id="none-selected-error" class="govuk-error-message" data-gtm-vis-polling-id58715114_92="74" data-gtm-vis-polling-id58715114_816="75" data-gtm-vis-polling-id58715114_867="76" data-gtm-vis-polling-id58715114_899="77">
                  <span class="govuk-visually-hidden">Error: </span>
                  
              </span>
              

  <script src="/ui-workflow_qa02_workflow/assets/select-all.js"></script>
  <noscript>
    <style>
      #select-all {
        display: none;
      }
    </style>
  </noscript>

<table class="govuk-table has-sortable-table" data-count="26" id="assign_referrals_table">


<thead class="govuk-table__head">
  <tr class="govuk-table__row">
  
    <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Select All</span>
              <div class="govuk-checkboxes__item govuk-checkboxes--small" id="select_all_checkbox">
                  <input type="checkbox" class="govuk-checkboxes__input" onclick="toggle(this)" id="select-all" name="select-all" title="Select all" aria-label="select-all-label" role="switch">
                  <label id="select-all-label" class="govuk-label govuk-checkboxes__label" for="select-all">
                      <span id="select-all-span">Select all</span>
                </label>
              </div></th>
  
    <th scope="col" class="govuk-table__header" id="name-header">Claimant name</th>
  
    <th scope="col" class="govuk-table__header has-width-fifteen-percent" id="nino-header">NI number</th>
  
    <th scope="col" class="govuk-table__header" id="benefit-type-header">Benefit</th>
  
    <th scope="col" class="govuk-table__header" id="referral-date-header">Referral date</th>
  
    <th scope="col" class="govuk-table__header" id="srel-header">End of life</th>
  
    <th scope="col" class="govuk-table__header has-width-fifteen-percent" id="site-header">Assessment centre</th>
  
  </tr>
</thead>

<tbody class="govuk-table__body">
  
    
      <tr class="govuk-table__row">
      
        
        
        <td class="govuk-table__cell checkbox_column">
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
          <input type="checkbox" class="govuk-checkboxes__input" id="assign-1" value="f75ac9f4-06cc-4e08-998f-6aa73e932261" name="assign-guids">
              <label class="govuk-label govuk-checkboxes__label" for="assign-1">
                  <span class="govuk-visually-hidden">Select 1</span>
              </label>
          </div>
  </td>
        
      
        
        
        <td class="govuk-table__cell displayName_column" id="claimant-display-name-1" data-label="Claimant name"><a href="/ui-workflow_qa02_workflow/referrals/f75ac9f4-06cc-4e08-998f-6aa73e932261" class="govuk-link">Mozell Krajcik</a></td>
        
      
        
        
        <td class="govuk-table__cell column" id="nino-1" data-label="NI number">
<span class="workflow-nino"><span>C<span class="govuk-visually-hidden unselectable">&nbsp;</span>M</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>93</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>17</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>06</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>A</span></span></td>
        
      
        
        
        <td class="govuk-table__cell column" id="benefit-type-1" data-label="Benefit">ESA</td>
        
      
        
        
        <td class="govuk-table__cell referral-date-name-col column" id="referral-date-1" data-label="Referral date">5 Feb 2024</td>
        
      
        
        
        <td class="govuk-table__cell column" id="srel-1" data-label="End of life">Yes</td>
        
      
        
        
        <td class="govuk-table__cell column" id="site-1" data-label="Assessment Centre">Tresco House</td>
        
      
      </tr>
    
  
    
      <tr class="govuk-table__row">
      
        
        
        <td class="govuk-table__cell checkbox_column">
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
          <input type="checkbox" class="govuk-checkboxes__input" id="assign-2" value="bee0a27c-27d2-40e8-b2f6-2f2546df09af" name="assign-guids">
              <label class="govuk-label govuk-checkboxes__label" for="assign-2">
                  <span class="govuk-visually-hidden">Select 2</span>
              </label>
          </div>
  </td>
        
      
        
        
        <td class="govuk-table__cell displayName_column" id="claimant-display-name-2" data-label="Claimant name"><a href="/ui-workflow_qa02_workflow/referrals/bee0a27c-27d2-40e8-b2f6-2f2546df09af" class="govuk-link">Carmelo Berge</a></td>
        
      
        
        
        <td class="govuk-table__cell column" id="nino-2" data-label="NI number">
<span class="workflow-nino"><span>C<span class="govuk-visually-hidden unselectable">&nbsp;</span>M</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>29</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>51</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>57</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>A</span></span></td>
        
      
        
        
        <td class="govuk-table__cell column" id="benefit-type-2" data-label="Benefit">ESA</td>
        
      
        
        
        <td class="govuk-table__cell referral-date-name-col column" id="referral-date-2" data-label="Referral date">5 Feb 2024</td>
        
      
        
        
        <td class="govuk-table__cell column" id="srel-2" data-label="End of life">Yes</td>
        
      
        
        
        <td class="govuk-table__cell column" id="site-2" data-label="Assessment Centre">Tresco House</td>
        
      
      </tr>
    
  
    
      <tr class="govuk-table__row">
      
        
        
        <td class="govuk-table__cell checkbox_column">
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
          <input type="checkbox" class="govuk-checkboxes__input" id="assign-3" value="23edf958-29cc-426d-a5e8-6837a4f1f896" name="assign-guids">
              <label class="govuk-label govuk-checkboxes__label" for="assign-3">
                  <span class="govuk-visually-hidden">Select 3</span>
              </label>
          </div>
  </td>
        
      
        
        
        <td class="govuk-table__cell displayName_column" id="claimant-display-name-3" data-label="Claimant name"><a href="/ui-workflow_qa02_workflow/referrals/23edf958-29cc-426d-a5e8-6837a4f1f896" class="govuk-link">Theodore James Benson</a></td>
        
      
        
        
        <td class="govuk-table__cell column" id="nino-3" data-label="NI number">
<span class="workflow-nino"><span>A<span class="govuk-visually-hidden unselectable">&nbsp;</span>A</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>50</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>09</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>99</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>A</span></span></td>
        
      
        
        
        <td class="govuk-table__cell column" id="benefit-type-3" data-label="Benefit">PIP</td>
        
      
        
        
        <td class="govuk-table__cell referral-date-name-col column" id="referral-date-3" data-label="Referral date">5 Feb 2024</td>
        
      
        
        
        <td class="govuk-table__cell column" id="srel-3" data-label="End of life">Yes</td>
        
      
        
        
        <td class="govuk-table__cell column" id="site-3" data-label="Assessment Centre">Handsworth</td>
        
      
      </tr>
    
  
    
      <tr class="govuk-table__row">
      
        
        
        <td class="govuk-table__cell checkbox_column">
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
          <input type="checkbox" class="govuk-checkboxes__input" id="assign-4" value="5166dbbc-6685-4246-9af7-013e735e8fc1" name="assign-guids">
              <label class="govuk-label govuk-checkboxes__label" for="assign-4">
                  <span class="govuk-visually-hidden">Select 4</span>
              </label>
          </div>
  </td>
        
      
        
        
        <td class="govuk-table__cell displayName_column" id="claimant-display-name-4" data-label="Claimant name"><a href="/ui-workflow_qa02_workflow/referrals/5166dbbc-6685-4246-9af7-013e735e8fc1" class="govuk-link">Annis Rolfson</a></td>
        
      
        
        
        <td class="govuk-table__cell column" id="nino-4" data-label="NI number">
<span class="workflow-nino"><span>C<span class="govuk-visually-hidden unselectable">&nbsp;</span>M</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>93</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>93</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>02</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>B</span></span></td>
        
      
        
        
        <td class="govuk-table__cell column" id="benefit-type-4" data-label="Benefit">ESA</td>
        
      
        
        
        <td class="govuk-table__cell referral-date-name-col column" id="referral-date-4" data-label="Referral date">6 Feb 2024</td>
        
      
        
        
        <td class="govuk-table__cell column" id="srel-4" data-label="End of life">Yes</td>
        
      
        
        
        <td class="govuk-table__cell column" id="site-4" data-label="Assessment Centre">Tresco House</td>
        
      
      </tr>
    
      <tr class="govuk-table__row">
      
        
        
        <td class="govuk-table__cell checkbox_column">
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
          <input type="checkbox" class="govuk-checkboxes__input" id="assign-1" value="f75ac9f4-06cc-4e08-998f-6aa73e932261" name="assign-guids">
              <label class="govuk-label govuk-checkboxes__label" for="assign-1">
                  <span class="govuk-visually-hidden">Select 1</span>
              </label>
          </div>
  </td>
        
      
        
        
        <td class="govuk-table__cell displayName_column" id="claimant-display-name-1" data-label="Claimant name"><a href="/ui-workflow_qa02_workflow/referrals/f75ac9f4-06cc-4e08-998f-6aa73e932261" class="govuk-link">Mozell Krajcik</a></td>
        
      
        
        
        <td class="govuk-table__cell column" id="nino-1" data-label="NI number">
<span class="workflow-nino"><span>C<span class="govuk-visually-hidden unselectable">&nbsp;</span>M</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>93</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>17</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>06</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>A</span></span></td>
        
      
        
        
        <td class="govuk-table__cell column" id="benefit-type-1" data-label="Benefit">ESA</td>
        
      
        
        
        <td class="govuk-table__cell referral-date-name-col column" id="referral-date-1" data-label="Referral date">5 Feb 2024</td>
        
      
        
        
        <td class="govuk-table__cell column" id="srel-1" data-label="End of life">Yes</td>
        
      
        
        
        <td class="govuk-table__cell column" id="site-1" data-label="Assessment Centre">Tresco House</td>
        
      
      </tr>
    
  
    
      <tr class="govuk-table__row">
      
        
        
        <td class="govuk-table__cell checkbox_column">
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
          <input type="checkbox" class="govuk-checkboxes__input" id="assign-2" value="bee0a27c-27d2-40e8-b2f6-2f2546df09af" name="assign-guids">
              <label class="govuk-label govuk-checkboxes__label" for="assign-2">
                  <span class="govuk-visually-hidden">Select 2</span>
              </label>
          </div>
  </td>
        
      
        
        
        <td class="govuk-table__cell displayName_column" id="claimant-display-name-2" data-label="Claimant name"><a href="/ui-workflow_qa02_workflow/referrals/bee0a27c-27d2-40e8-b2f6-2f2546df09af" class="govuk-link">Carmelo Berge</a></td>
        
      
        
        
        <td class="govuk-table__cell column" id="nino-2" data-label="NI number">
<span class="workflow-nino"><span>C<span class="govuk-visually-hidden unselectable">&nbsp;</span>M</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>29</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>51</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>57</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>A</span></span></td>
        
      
        
        
        <td class="govuk-table__cell column" id="benefit-type-2" data-label="Benefit">ESA</td>
        
      
        
        
        <td class="govuk-table__cell referral-date-name-col column" id="referral-date-2" data-label="Referral date">5 Feb 2024</td>
        
      
        
        
        <td class="govuk-table__cell column" id="srel-2" data-label="End of life">Yes</td>
        
      
        
        
        <td class="govuk-table__cell column" id="site-2" data-label="Assessment Centre">Tresco House</td>
        
      
      </tr>
    
  
    
      <tr class="govuk-table__row">
      
        
        
        <td class="govuk-table__cell checkbox_column">
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
          <input type="checkbox" class="govuk-checkboxes__input" id="assign-3" value="23edf958-29cc-426d-a5e8-6837a4f1f896" name="assign-guids">
              <label class="govuk-label govuk-checkboxes__label" for="assign-3">
                  <span class="govuk-visually-hidden">Select 3</span>
              </label>
          </div>
  </td>
        
      
        
        
        <td class="govuk-table__cell displayName_column" id="claimant-display-name-3" data-label="Claimant name"><a href="/ui-workflow_qa02_workflow/referrals/23edf958-29cc-426d-a5e8-6837a4f1f896" class="govuk-link">Theodore James Benson</a></td>
        
      
        
        
        <td class="govuk-table__cell column" id="nino-3" data-label="NI number">
<span class="workflow-nino"><span>A<span class="govuk-visually-hidden unselectable">&nbsp;</span>A</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>50</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>09</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>99</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>A</span></span></td>
        
      
        
        
        <td class="govuk-table__cell column" id="benefit-type-3" data-label="Benefit">PIP</td>
        
      
        
        
        <td class="govuk-table__cell referral-date-name-col column" id="referral-date-3" data-label="Referral date">5 Feb 2024</td>
        
      
        
        
        <td class="govuk-table__cell column" id="srel-3" data-label="End of life">Yes</td>
        
      
        
        
        <td class="govuk-table__cell column" id="site-3" data-label="Assessment Centre">Handsworth</td>
        
      
      </tr>
    
  
    
      <tr class="govuk-table__row">
      
        
        
        <td class="govuk-table__cell checkbox_column">
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
          <input type="checkbox" class="govuk-checkboxes__input" id="assign-4" value="5166dbbc-6685-4246-9af7-013e735e8fc1" name="assign-guids">
              <label class="govuk-label govuk-checkboxes__label" for="assign-4">
                  <span class="govuk-visually-hidden">Select 4</span>
              </label>
          </div>
  </td>
        
      
        
        
        <td class="govuk-table__cell displayName_column" id="claimant-display-name-4" data-label="Claimant name"><a href="/ui-workflow_qa02_workflow/referrals/5166dbbc-6685-4246-9af7-013e735e8fc1" class="govuk-link">Annis Rolfson</a></td>
        
      
        
        
        <td class="govuk-table__cell column" id="nino-4" data-label="NI number">
<span class="workflow-nino"><span>C<span class="govuk-visually-hidden unselectable">&nbsp;</span>M</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>93</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>93</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>02</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>B</span></span></td>
        
      
        
        
        <td class="govuk-table__cell column" id="benefit-type-4" data-label="Benefit">ESA</td>
        
      
        
        
        <td class="govuk-table__cell referral-date-name-col column" id="referral-date-4" data-label="Referral date">6 Feb 2024</td>
        
      
        
        
        <td class="govuk-table__cell column" id="srel-4" data-label="End of life">Yes</td>
        
      
        
        
        <td class="govuk-table__cell column" id="site-4" data-label="Assessment Centre">Tresco House</td>
        
      
      </tr>
  
      <tr class="govuk-table__row">
      
        
        
        <td class="govuk-table__cell checkbox_column">
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
          <input type="checkbox" class="govuk-checkboxes__input" id="assign-1" value="f75ac9f4-06cc-4e08-998f-6aa73e932261" name="assign-guids">
              <label class="govuk-label govuk-checkboxes__label" for="assign-1">
                  <span class="govuk-visually-hidden">Select 1</span>
              </label>
          </div>
  </td>
        
      
        
        
        <td class="govuk-table__cell displayName_column" id="claimant-display-name-1" data-label="Claimant name"><a href="/ui-workflow_qa02_workflow/referrals/f75ac9f4-06cc-4e08-998f-6aa73e932261" class="govuk-link">Mozell Krajcik</a></td>
        
      
        
        
        <td class="govuk-table__cell column" id="nino-1" data-label="NI number">
<span class="workflow-nino"><span>C<span class="govuk-visually-hidden unselectable">&nbsp;</span>M</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>93</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>17</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>06</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>A</span></span></td>
        
      
        
        
        <td class="govuk-table__cell column" id="benefit-type-1" data-label="Benefit">ESA</td>
        
      
        
        
        <td class="govuk-table__cell referral-date-name-col column" id="referral-date-1" data-label="Referral date">5 Feb 2024</td>
        
      
        
        
        <td class="govuk-table__cell column" id="srel-1" data-label="End of life">Yes</td>
        
      
        
        
        <td class="govuk-table__cell column" id="site-1" data-label="Assessment Centre">Tresco House</td>
        
      
      </tr>
    
  
    
      <tr class="govuk-table__row">
      
        
        
        <td class="govuk-table__cell checkbox_column">
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
          <input type="checkbox" class="govuk-checkboxes__input" id="assign-2" value="bee0a27c-27d2-40e8-b2f6-2f2546df09af" name="assign-guids">
              <label class="govuk-label govuk-checkboxes__label" for="assign-2">
                  <span class="govuk-visually-hidden">Select 2</span>
              </label>
          </div>
  </td>
        
      
        
        
        <td class="govuk-table__cell displayName_column" id="claimant-display-name-2" data-label="Claimant name"><a href="/ui-workflow_qa02_workflow/referrals/bee0a27c-27d2-40e8-b2f6-2f2546df09af" class="govuk-link">Carmelo Berge</a></td>
        
      
        
        
        <td class="govuk-table__cell column" id="nino-2" data-label="NI number">
<span class="workflow-nino"><span>C<span class="govuk-visually-hidden unselectable">&nbsp;</span>M</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>29</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>51</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>57</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>A</span></span></td>
        
      
        
        
        <td class="govuk-table__cell column" id="benefit-type-2" data-label="Benefit">ESA</td>
        
      
        
        
        <td class="govuk-table__cell referral-date-name-col column" id="referral-date-2" data-label="Referral date">5 Feb 2024</td>
        
      
        
        
        <td class="govuk-table__cell column" id="srel-2" data-label="End of life">Yes</td>
        
      
        
        
        <td class="govuk-table__cell column" id="site-2" data-label="Assessment Centre">Tresco House</td>
        
      
      </tr>
    
  
    
      <tr class="govuk-table__row">
      
        
        
        <td class="govuk-table__cell checkbox_column">
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
          <input type="checkbox" class="govuk-checkboxes__input" id="assign-3" value="23edf958-29cc-426d-a5e8-6837a4f1f896" name="assign-guids">
              <label class="govuk-label govuk-checkboxes__label" for="assign-3">
                  <span class="govuk-visually-hidden">Select 3</span>
              </label>
          </div>
  </td>
        
      
        
        
        <td class="govuk-table__cell displayName_column" id="claimant-display-name-3" data-label="Claimant name"><a href="/ui-workflow_qa02_workflow/referrals/23edf958-29cc-426d-a5e8-6837a4f1f896" class="govuk-link">Theodore James Benson</a></td>
        
      
        
        
        <td class="govuk-table__cell column" id="nino-3" data-label="NI number">
<span class="workflow-nino"><span>A<span class="govuk-visually-hidden unselectable">&nbsp;</span>A</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>50</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>09</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>99</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>A</span></span></td>
        
      
        
        
        <td class="govuk-table__cell column" id="benefit-type-3" data-label="Benefit">PIP</td>
        
      
        
        
        <td class="govuk-table__cell referral-date-name-col column" id="referral-date-3" data-label="Referral date">5 Feb 2024</td>
        
      
        
        
        <td class="govuk-table__cell column" id="srel-3" data-label="End of life">Yes</td>
        
      
        
        
        <td class="govuk-table__cell column" id="site-3" data-label="Assessment Centre">Handsworth</td>
        
      
      </tr>
    
  
    
      <tr class="govuk-table__row">
      
        
        
        <td class="govuk-table__cell checkbox_column">
      <div class="govuk-checkboxes__item govuk-checkboxes--small">
          <input type="checkbox" class="govuk-checkboxes__input" id="assign-4" value="5166dbbc-6685-4246-9af7-013e735e8fc1" name="assign-guids">
              <label class="govuk-label govuk-checkboxes__label" for="assign-4">
                  <span class="govuk-visually-hidden">Select 4</span>
              </label>
          </div>
  </td>
        
      
        
        
        <td class="govuk-table__cell displayName_column" id="claimant-display-name-4" data-label="Claimant name"><a href="/ui-workflow_qa02_workflow/referrals/5166dbbc-6685-4246-9af7-013e735e8fc1" class="govuk-link">Annis Rolfson</a></td>
        
      
        
        
        <td class="govuk-table__cell column" id="nino-4" data-label="NI number">
<span class="workflow-nino"><span>C<span class="govuk-visually-hidden unselectable">&nbsp;</span>M</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>93</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>93</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>02</span><span><span class="govuk-visually-hidden unselectable">&nbsp;</span>B</span></span></td>
        
      
        
        
        <td class="govuk-table__cell column" id="benefit-type-4" data-label="Benefit">ESA</td>
        
      
        
        
        <td class="govuk-table__cell referral-date-name-col column" id="referral-date-4" data-label="Referral date">6 Feb 2024</td>
        
      
        
        
        <td class="govuk-table__cell column" id="srel-4" data-label="End of life">Yes</td>
        
      
        
        
        <td class="govuk-table__cell column" id="site-4" data-label="Assessment Centre">Tresco House</td>
        
      
      </tr>
    
  
</tbody>
</table>


          </div>
      


  


<button type="submit" class="govuk-button" data-module="govuk-button" id="assign">
Assign referrals to caseload
</button>

      
<nav class="moj-pagination" aria-label="Pagination navigation">

  <ul class="moj-pagination__list">
 
    </li>
    <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 1 of 30" aria-current="page">1</li>

    <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=2" aria-label="Page 1 of 30">2</a></li>
      
    <li class="moj-pagination__item  moj-pagination__item--next">
      <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> page</span></a>
    </li>
  </ul>
  <p class="moj-pagination__results">Showing <b>1</b> to <b>12</b> of <b>20</b> referrals</p>
</nav>

  </form>
  

</main>
</div>
{% endblock %}
