{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
 
<div class="govuk-width-container full-width-container">
      
      <main class="govuk-main-wrapper" id="main-content" role="main">
        

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half"> &nbsp;
    </div>
    <div class="govuk-grid-column-one-half"> 
<script>
    function splitRedirect() {
    const splitScreen = "true";

    window.location =  window.location.pathname + "?splitScreen=" + splitScreen
    }
</script>

    </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter"><a href="./Claimant details.html" class="govuk-back-link">Back</a>

    <form action="https://proto-health-assessment-tasks-e6322e69b9e7.herokuapp.com/ta-7/evidence?source=default#" method="post">

      <!-- default -->

      <nav class="moj-side-navigation" aria-label="Side navigation">
        <!-- <h4 class="moj-side-navigation__title">Section 1</h4> -->
        <ul class="moj-side-navigation__list">
        
          
          <li class="moj-side-navigation__item moj-side-navigation__item--active">
            <a href="https://proto-health-assessment-tasks-e6322e69b9e7.herokuapp.com/ta-7/evidence?source=evidence" aria-current="location">Evidence</a>
          </li>
          
  
          
          <li class="moj-side-navigation__item">
            <a href="https://proto-health-assessment-tasks-e6322e69b9e7.herokuapp.com/ta-7/verify-id?source=Verify%20identity">Verify identity</a>
          </li>
          

          
          <li class="moj-side-navigation__item">
            <a href="https://proto-health-assessment-tasks-e6322e69b9e7.herokuapp.com/ta-7/consent?source=Claimant%20consent">Claimant consent</a>
          </li>
          

          
          <li class="moj-side-navigation__item">
            <a href="https://proto-health-assessment-tasks-e6322e69b9e7.herokuapp.com/ta-7/attendees?source=Additional%20attendees">Additional attendees</a>
          </li>
          

          
          <li class="moj-side-navigation__item">
            <a href="https://proto-health-assessment-tasks-e6322e69b9e7.herokuapp.com/ta-7/conditions?source=History%20of%20condition">History of condition</a>
          </li>
          

          
          <li class="moj-side-navigation__item">
            <a href="https://proto-health-assessment-tasks-e6322e69b9e7.herokuapp.com/ta-7/soch1-additional?source=Social%20and%20occupational%20history">Social and occupational history</a>
          </li>
          

           <h4 class="moj-side-navigation__title">Daily living</h4>
           
           <li class="moj-side-navigation__item">
             <a href="https://proto-health-assessment-tasks-e6322e69b9e7.herokuapp.com/ta-7/preparingfood?source=Preparing%20food" aria-current="location">Preparing food</a>
           </li>
           

 <!--           
           <li class="moj-side-navigation__item">
             <a href="https://proto-health-assessment-tasks-e6322e69b9e7.herokuapp.com/ta-7/takingnutrition?source=Taking%20nutrition">Taking nutrition</a>
           </li>
           

           
           <li class="moj-side-navigation__item">
             <a href="https://proto-health-assessment-tasks-e6322e69b9e7.herokuapp.com/ta-7/managingtherapy?source=Managing%20therapy">Managing therapy</a>
           </li>
            -->

           
           <li class="moj-side-navigation__item">
             <a href="https://proto-health-assessment-tasks-e6322e69b9e7.herokuapp.com/ta-7/washingbathing?source=Washing%20and%20bathing">Washing and bathing</a>
           </li>
           
<!-- 
           
           <li class="moj-side-navigation__item">
             <a href="https://proto-health-assessment-tasks-e6322e69b9e7.herokuapp.com/ta-7/toiletneeds?source=Managing%20toilet%20needs">Managing toilet needs</a>
           </li>
           

           
           <li class="moj-side-navigation__item">
             <a href="https://proto-health-assessment-tasks-e6322e69b9e7.herokuapp.com/ta-7/dressing?source=Dressing%20and%20undressing">Dressing and undressing</a>
           </li>
           

           
           <li class="moj-side-navigation__item">
             <a href="https://proto-health-assessment-tasks-e6322e69b9e7.herokuapp.com/ta-7/communicatingverbally?source=Communicating%20verbally">Communicating verbally</a>
           </li>
           

           
           <li class="moj-side-navigation__item">
             <a href="https://proto-health-assessment-tasks-e6322e69b9e7.herokuapp.com/ta-7/readingunderstanding?source=Reading%20and%20understanding%20signs,%20symbols%20and%20words">Reading and understanding signs, symbols and words</a>
           </li>
           

           
           <li class="moj-side-navigation__item">
             <a href="https://proto-health-assessment-tasks-e6322e69b9e7.herokuapp.com/ta-7/facetoface?source=Engaging%20face%20to%20face">Engaging face to face</a>
           </li>
           

           
           <li class="moj-side-navigation__item">
             <a href="https://proto-health-assessment-tasks-e6322e69b9e7.herokuapp.com/ta-7/budgeting?source=Budgeting">Budgeting</a>
           </li>
            -->

           <h4 class="moj-side-navigation__title">Mobility</h4>
           
           <li class="moj-side-navigation__item">
             <a href="https://proto-health-assessment-tasks-e6322e69b9e7.herokuapp.com/ta-7/journeys?source=Planning%20and%20following%20journeys">Planning and following journeys</a>
           </li>
           

           
           <li class="moj-side-navigation__item">
             <a href="https://proto-health-assessment-tasks-e6322e69b9e7.herokuapp.com/ta-7/movingaround?source=Moving%20around">Moving around</a>
           </li>
           

           <h4 class="moj-side-navigation__title">Observations</h4>
           
           <li class="moj-side-navigation__item">
             <a href="https://proto-health-assessment-tasks-e6322e69b9e7.herokuapp.com/ta-7/mental-state?source=Mental%20state%20observations">Mental state observations</a>
           </li>
           

           
           <li class="moj-side-navigation__item">
             <a href="https://proto-health-assessment-tasks-e6322e69b9e7.herokuapp.com/ta-7/physical-state?source=Physical%20state%20observations">Physical state observations</a>
           </li>
           

           <h4 class="moj-side-navigation__title">Summary</h4>
           
           <li class="moj-side-navigation__item">
             <a href="https://proto-health-assessment-tasks-e6322e69b9e7.herokuapp.com/ta-7/dl-qual?source=Daily%20living%20qualifying%20period%20and%20prospective%20test">Daily living qualifying period and prospective test</a>
           </li>
           

           
           <li class="moj-side-navigation__item">
             <a href="./RecBuilder - DL justification.html?source=Daily%20living%20justification">Daily living justification</a>
           </li>
           

           
           <li class="moj-side-navigation__item">
             <a href="https://proto-health-assessment-tasks-e6322e69b9e7.herokuapp.com/ta-7/mobility-qual?source=Mobility%20qualifying%20period%20and%20prospective%20test">Mobility qualifying period and prospective test</a>
           </li>
           

           
           <li class="moj-side-navigation__item">
             <a href="https://proto-health-assessment-tasks-e6322e69b9e7.herokuapp.com/ta-7/mobility?source=Mobility%20justification">Mobility justification</a>
           </li>
           

           
           <li class="moj-side-navigation__item">
             <a href="https://proto-health-assessment-tasks-e6322e69b9e7.herokuapp.com/ta-7/review?source=Review">Review period for PIP</a>
           </li>
           
        </ul>
        </nav>

     
  
        <!-- <nav class="moj-side-navigation" aria-label="Side navigation" >
    <h4 class="moj-side-navigation__title"></h4>
    <ul class="moj-side-navigation__list">
        <li class="moj-side-navigation__item moj-side-navigation__item--active">
          <a href="evidence?source=evidence" aria-current="location">Evidence</a>
        </li>
      
        <li class="moj-side-navigation__item">
          <a href="verify-id?source=Verify identity">Verify identity</a>
        </li>
      
        <li class="moj-side-navigation__item">
          <a href="consent?source=consent">Claimant consent</a>
        </li>
      
        <li class="moj-side-navigation__item">
          <a href="attendees">Additional attendees</a>
        </li>
      
        <li class="moj-side-navigation__item">
          <a href="conditions">History of condition</a>
        </li>
      
        <li class="moj-side-navigation__item">
          <a href="soch1-additional">Social and occupational history</a>
        </li>
      </ul>
  
    <h4 class="moj-side-navigation__title">Daily living</h4>
    <ul class="moj-side-navigation__list">
        <li class="moj-side-navigation__item">
          <a href="preparingfood">Preparing food</a>
        </li>
      
        <li class="moj-side-navigation__item">
          <a href="takingnutrition">Taking nutrition</a>
        </li>
      
        <li class="moj-side-navigation__item">
          <a href="managingtherapy">Managing therapy</a>
        </li>
      
        <li class="moj-side-navigation__item">
          <a href="washingbathing">Washing and bathing</a>
        </li>
      
        <li class="moj-side-navigation__item">
          <a href="toiletneeds">Managing toilet needs</a>
        </li>
      
        <li class="moj-side-navigation__item">
          <a href="dressing">Dressing and undressing</a>
        </li>
      
        <li class="moj-side-navigation__item">
          <a href="communicatingverbally">Communicating verbally</a>
        </li>
      
        <li class="moj-side-navigation__item">
          <a href="readingunderstanding">Reading and understanding, signs, symbols</a>
        </li>
      
        <li class="moj-side-navigation__item">
          <a href="facetoface">Engaging face to face</a>
        </li>
      
        <li class="moj-side-navigation__item">
          <a href="budgeting">Budgeting</a>
        </li>
      </ul>
  
    <h4 class="moj-side-navigation__title">Mobility</h4>
    <ul class="moj-side-navigation__list">
        <li class="moj-side-navigation__item">
          <a href="journeys">Planning and following journeys</a>
        </li>
      
        <li class="moj-side-navigation__item">
          <a href="movingaround">Moving around</a>
        </li>
      </ul>
  
    <h4 class="moj-side-navigation__title">Observations</h4>
    <ul class="moj-side-navigation__list">
        <li class="moj-side-navigation__item">
          <a href="mental-state">Mental state</a>
        </li>
      
        <li class="moj-side-navigation__item">
          <a href="physical-state">Physical state</a>
        </li>
      </ul>
  
    <h4 class="moj-side-navigation__title">Summary</h4>
    <ul class="moj-side-navigation__list">
        <li class="moj-side-navigation__item">
          <a href="dl-qual">Daily living qualifying period and prospective test</a>
        </li>
      
        <li class="moj-side-navigation__item">
          <a href="daily-living">Daily living justification</a>
        </li>
      
        <li class="moj-side-navigation__item">
          <a href="mobility-qual">Mobility qualifying period and prospective test</a>
        </li>
      
        <li class="moj-side-navigation__item">
          <a href="mobility">Mobility justification</a>
        </li>
      
        <li class="moj-side-navigation__item">
          <a href="review">Review period for PIP</a>
        </li>
      </ul>
  </nav> -->

  
     
        <a href="https://proto-health-assessment-tasks-e6322e69b9e7.herokuapp.com/ta-7/report" class="govuk-link govuk-button save-and-redirect-link">Check answers</a>

        <!-- <a href="/next-page" class="govuk-link save-and-redirect-link">Next page></a> -->

        <!-- <button type="submit" class="govuk-button" data-module="govuk-button">
          Check answers
        </button> -->
        
      </form>
      <script>
        const item = document.querySelectorAll(".moj-side-navigation__item > a");
        item.forEach(link => {
          link.addEventListener("click", function (e) {
            e.preventDefault();
            const formElement = document.getElementById("auto-redirect");
            formElement.action = window.location.href = "?redirect=" + e.target.href;
            formElement.submit();
          });
        });

        const x = document.querySelectorAll(".save-and-redirect-link"); // this will make anything redirect-able 
        x.forEach(link => {
          link.addEventListener("click", function (e) {
            e.preventDefault();
            const formElement = document.getElementById("auto-redirect");
            formElement.action = window.location.href = "?redirect=" + e.target.href;
            formElement.submit();
          });
        });
                
      </script>
<!-- 
        <nav class="moj-side-navigation" aria-label="Side navigation">
          <h4 class="moj-side-navigation__title">Section 1</h4>
          <ul class="moj-side-navigation__list">
            <li class="moj-side-navigation__item moj-side-navigation__item--active">
              <a href="evidence">Evidence</a>
            </li>
    
            <li class="moj-side-navigation__item">
              <a href="takingnutrition" class="govuk-link" data-module="govuk-button">Taking nutrition</a>
            </li>
    
            <li class="moj-side-navigation__item">
              <a href="#1.3">Verify identity</a>
            </li>
          </ul>
    
          <h4 class="moj-side-navigation__title">Section 2</h4>
          <ul class="moj-side-navigation__list">
            <li class="moj-side-navigation__item">
              <a href="#2.1">Claimant consent</a>
            </li>
    
            <li class="moj-side-navigation__item">
              <a href="#2.2">Nav item 2.2</a>
            </li>
    
            <li class="moj-side-navigation__item">
              <a href="#2.3">Nav item 2.3</a>
            </li>
          </ul>
        </nav> -->
  
        
     
      
      </div>

  <div class="govuk-grid-column-two-thirds">
    


  

  <h1 class="govuk-heading-l">Evidence</h1>




  <form action="https://proto-health-assessment-tasks-e6322e69b9e7.herokuapp.com/ta-7/evidence?source=default#" method="post" id="auto-redirect">

    <div class="govuk-form-group">
         <fieldset class="govuk-fieldset">
      
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        Evidence used
      </legend>
      
    <table class="govuk-table" data-module="moj-sortable-table" aria-describedby="last-updated">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header column-width-20" aria-sort="none"><button type="button" data-index="0">
            Name
          </button></th>
          <th scope="col" class="govuk-table__header column-width-10" aria-sort="none"><button type="button" data-index="1">
            Benefit type
          </button></th>
          <th scope="col" class="govuk-table__header column-width-15" aria-sort="none"><button type="button" data-index="2">
            Date of document
          </button></th>
          <th scope="col" class="govuk-table__header column-width-20" aria-sort="none"><button type="button" data-index="4">
            Document label
          </button></th>
        </tr>
      </thead>
   
      <tbody class="govuk-table__body">

     

        

        

        


        


        

        

        

        

        

        

        

        

        

        

       

  

      <tr class="govuk-table__row filter-table-row" style="display: table-row;">     
          
          <td class="govuk-table__cell"><a class="selectDocumentLink" href="https://supporting-docs-prototype.herokuapp.com/v10-htln-431/further-evidence-one-button-AR2.html">Award review AR1</a></td>       
          
          <td class="govuk-table__cell ">PIP</td>    
          <td class="govuk-table__cell" data-sort-value="date"> 27 July 2021
            <!--  &nbsp;   &nbsp;  -->
          </td>

            
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Important</strong></td>
          
        </tr><tr class="govuk-table__row filter-table-row" style="display: table-row;">     
          <td class="govuk-table__cell"><a class="selectDocumentLink" href="https://supporting-docs-prototype.herokuapp.com/v10-htln-431/further-evidence-one-button-FurtherEvidence1.html">Further evidence</a></td>        
          <td class="govuk-table__cell">PIP</td>
          <td class="govuk-table__cell" data-sort-value="date">3 Sept 2021
            <!--  &nbsp;   &nbsp; </td> -->
          </td>
          
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Important</strong></td>
          
        </tr><tr class="govuk-table__row filter-table-row" style="display: table-row;">    
          <td class="govuk-table__cell"><a class="selectDocumentLink" href="https://supporting-docs-prototype.herokuapp.com/v10-htln-431/further-evidence-one-button-ESA85.html">ESA85</a></td>             
          <td class="govuk-table__cell">UC</td>
          <td class="govuk-table__cell" data-sort-value="date">16 March 2018
            <!--  &nbsp;   &nbsp; </td> -->
          </td>
           
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Important</strong></td>
          
        </tr><tr class="govuk-table__row filter-table-row" style="display: table-row;">    
          <td class="govuk-table__cell"><a class="selectDocumentLink" href="https://supporting-docs-prototype.herokuapp.com/v10-htln-431/further-evidence-one-button-ESA851-duplicate.html">ESA85</a></td>             
          <td class="govuk-table__cell">UC</td>
          <td class="govuk-table__cell" data-sort-value="date">16 March 2018
            <!--  &nbsp;   &nbsp; </td> -->
          </td>
           
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Important</strong></td>
          
        </tr><tr class="govuk-table__row filter-table-row" style="display: table-row;">
          <td class="govuk-table__cell"><a class="selectDocumentLink" href="https://supporting-docs-prototype.herokuapp.com/v10-htln-431/further-evidence-one-button-AP1.html">PA4 report</a></td>
          <td class="govuk-table__cell">PIP</td>
          <td class="govuk-table__cell" data-sort-value="date">18 Aug 2017
            <!--  &nbsp;   &nbsp; </td> -->
          </td>
            
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Important</strong></td>
            
        </tr><tr class="govuk-table__row filter-table-row" style="display: table-row;">
          <td class="govuk-table__cell"><a class="selectDocumentLink" href="https://supporting-docs-prototype.herokuapp.com/v10-htln-431/further-evidence-one-button-AP2.html">PA4 report</a></td>
          <td class="govuk-table__cell">PIP</td>
          <td class="govuk-table__cell" data-sort-value="date">26 Oct 2015
            <!--  &nbsp;   &nbsp; </td> -->
          </td>
          
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Important</strong></td>
          
        </tr><tr class="govuk-table__row filter-table-row" style="display: table-row;">      
          <td class="govuk-table__cell"><a class="selectDocumentLink" href="https://supporting-docs-prototype.herokuapp.com/v10-htln-431/further-evidence-one-button-pip2.html">PIP 2 questionnaire</a></td>
          <td class="govuk-table__cell">PIP</td>
          <td class="govuk-table__cell" data-sort-value="date">10 Aug 2015            </td>
            
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Important</strong></td>
            
          </tr></tbody>
    </table>

      
      
      </div>
      

    

<div class="govuk-form-group">
<label class="govuk-label govuk-label--s" for="other-evidence">
Other evidence used
</label>


<textarea class="govuk-textarea autosave" id="other-evidence" name="other-evidence" rows="4"></textarea>
</div>


<!-- <button class="govuk-button" data-module="govuk-button">
Save and continue
</button> -->

<script>

// const a = document.querySelectorAll(".govuk-checkboxes__item")
//     a.addEventListener("change", function check () {
//       for (let i = 0; i < inputs.length; i++) {
//                 inputs[i].checked = true;
//             }
//         }
    
//     );

//   function check() {
//     document.getElementById("evidenceusedpip").checked = true;
// }
      



</script>

  </form>


  </div>



    
  </div>

      </main>
    </div>
  




  

  

  <script src="./RecBuilder_files/kit.js.download"></script>



  <script src="./RecBuilder_files/auto-store-data.js.download"></script>



  <script type="module" src="./RecBuilder_files/govuk-frontend.min.js.download"></script>



  <script type="module" src="./RecBuilder_files/init.js.download"></script>



  <script src="./RecBuilder_files/dwp.min.js.download"></script>



  <script src="./RecBuilder_files/all.jquery.min.js.download"></script>



  <script src="./RecBuilder_files/init(1).js.download"></script>



  <script type="module" src="./RecBuilder_files/application.js.download"></script>




  




</body></html>

{% endblock %}
