{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}
{% block content %}

  <div class="govuk-width-container govuk-width-container--wide" style="margin-top: -10px;>
        

      <main class="govuk-main-wrapper" id="main-content">
          
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      
      <h1 class="govuk-heading-l">Create a referral</h1>
      
      <form method="post" action="referral-confirmation">
        



  
<div class="govuk-form-group">
  <label class="govuk-label" for="first_name">
    First name
  </label>


  <input class="govuk-input govuk-input--width-70" id="first_name" name="firstName" type="text" autocomplete="off">

</div>


        



  
<div class="govuk-form-group">
  <label class="govuk-label" for="middle_names">
    Middle names
  </label>


  <input class="govuk-input govuk-input--width-35" id="middle_names" name="middleNames" type="text" autocomplete="off">

</div>


        



  
<div class="govuk-form-group">
  <label class="govuk-label" for="last_name">
    Last name
  </label>


  <input class="govuk-input govuk-input--width-35" id="last_name" name="lastName" type="text" autocomplete="off">

</div>


        



  
<div class="govuk-form-group">
  <label class="govuk-label" for="requested_name">
    Preferred name
  </label>


  <input class="govuk-input govuk-input--width-35" id="requested_name" name="requestedName" type="text" autocomplete="off">

</div>


        



  
<div class="govuk-form-group">
  <label class="govuk-label" for="postcode">
    Postcode
  </label>


  <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text" autocomplete="off">

</div>


        




  
<div class="govuk-form-group">

  <fieldset class="govuk-fieldset" role="group" aria-describedby="date_of_birth-hint">
    
    <legend class="govuk-fieldset__legend">
    
      Date of birth
    
    </legend>
    
  
    <div id="date_of_birth-hint" class="govuk-hint">
      For example, 12 11 2000
    </div>
  
  
    <div class="govuk-date-input" id="date_of_birth">
      
      
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="date_of_birth-Day">
            Day
          </label>
        
        
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date_of_birth-Day" name="dob-Day" type="text" autocomplete="off" inputmode="numeric">
        
        </div>
      </div>
      
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="date_of_birth-Month">
            Month
          </label>
        
        
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date_of_birth-Month" name="dob-Month" type="text" autocomplete="off" inputmode="numeric">
        
        </div>
      </div>
      
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="date_of_birth-Year">
            Year
          </label>
        
        
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date_of_birth-Year" name="dob-Year" type="text" autocomplete="off" inputmode="numeric">
        
        </div>
      </div>
      
      
    </div>
  
  </fieldset>

</div>


        



  
<div class="govuk-form-group">
  <label class="govuk-label" for="national_insurance_number">
    National insurance number
  </label>


  <input class="govuk-input govuk-input--width-10" id="national_insurance_number" name="nino" type="text" autocomplete="off">

</div>


        



<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">
    
    <legend class="govuk-fieldset__legend">
    
      Benefit type
    
    </legend>
    
  
    <div class="govuk-radios" data-module="govuk-radios" data-govuk-radios-init="">
      
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="benefit_type" name="benefitType" type="radio" value="ESA">
        <label class="govuk-label govuk-radios__label" for="benefit_type">
          ESA
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="benefit_type-2" name="benefitType" type="radio" value="PIP">
        <label class="govuk-label govuk-radios__label" for="benefit_type-2">
          PIP
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="benefit_type-3" name="benefitType" type="radio" value="PIP_SERVICE">
        <label class="govuk-label govuk-radios__label" for="benefit_type-3">
          PIP Service
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="benefit_type-4" name="benefitType" type="radio" value="UC">
        <label class="govuk-label govuk-radios__label" for="benefit_type-4">
          UC
        </label>
        
      </div>
      
    
      
      
    </div>
  
  </fieldset>

</div>


        



  
<div class="govuk-form-group">
  <label class="govuk-label" for="customer_reference_number">
    Customer reference number
  </label>


  <input class="govuk-input govuk-input--width-35" id="customer_reference_number" name="crn" type="text" autocomplete="off">

</div>


        
          <input type="hidden" id="referringSystem" name="referringSystem" value="REFERRAL_UI">
        

        



  
<div class="govuk-form-group">
  <label class="govuk-label" for="referring_system_referral_id">
    Referral ID
  </label>


  <input class="govuk-input govuk-input--width-35" id="referring_system_referral_id" name="referralSystemReferralId" type="text" autocomplete="off">

</div>


        



  
<div class="govuk-form-group">
  <label class="govuk-label" for="claim_reference_number">
    Claim reference number
  </label>


  <input class="govuk-input govuk-input--width-35" id="claim_reference_number" name="claimReferenceNumber" type="text" autocomplete="off">

</div>


        



<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">
    
    <legend class="govuk-fieldset__legend">
    
      Referral type
    
    </legend>
    
  
    <div class="govuk-radios" data-module="govuk-radios" data-govuk-radios-init="">
      
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="referral_type" name="referralType" type="radio" value="NEW_REFERRAL_ADVANCE_CLAIM" data-benefit-type="PIP" data-hidden="true">
        <label class="govuk-label govuk-radios__label" for="referral_type">
          Advance claim referral
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="referral_type-2" name="referralType" type="radio" value="ADVICE" data-benefit-type="PIP" data-hidden="true">
        <label class="govuk-label govuk-radios__label" for="referral_type-2">
          Advice
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="referral_type-3" name="referralType" type="radio" value="NEW_REFERRAL_APPEAL" data-benefit-type="PIP" data-hidden="true">
        <label class="govuk-label govuk-radios__label" for="referral_type-3">
          Appeal
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="referral_type-4" name="referralType" type="radio" value="NEW_REFERRAL_AWARD_REVIEW" data-benefit-type="PIP" data-hidden="true">
        <label class="govuk-label govuk-radios__label" for="referral_type-4">
          Award review
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="referral_type-5" name="referralType" type="radio" value="NEW_REFERRAL_COC_REVIEW" data-benefit-type="PIP" data-hidden="true">
        <label class="govuk-label govuk-radios__label" for="referral_type-5">
          CoC review
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="referral_type-6" name="referralType" type="radio" value="NEW_REFERRAL">
        <label class="govuk-label govuk-radios__label" for="referral_type-6">
          New referral
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="referral_type-7" name="referralType" type="radio" value="NEW_REFERRAL_REASSESSMENT" data-benefit-type="PIP" data-hidden="true">
        <label class="govuk-label govuk-radios__label" for="referral_type-7">
          New referral reassessment
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="referral_type-8" name="referralType" type="radio" value="NEW_REFERRAL_RECONSIDERATION" data-benefit-type="PIP" data-hidden="true">
        <label class="govuk-label govuk-radios__label" for="referral_type-8">
          Reconsideration
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="referral_type-9" name="referralType" type="radio" value="RE_REFERRAL">
        <label class="govuk-label govuk-radios__label" for="referral_type-9">
          Re-referral
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="referral_type-10" name="referralType" type="radio" value="RE_REFERRAL_ADVANCE_CLAIM" data-benefit-type="PIP" data-hidden="true">
        <label class="govuk-label govuk-radios__label" for="referral_type-10">
          Re-referral advance claim
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="referral_type-11" name="referralType" type="radio" value="RE_REFERRAL_APPEAL" data-benefit-type="PIP" data-hidden="true">
        <label class="govuk-label govuk-radios__label" for="referral_type-11">
          Re-referral appeal
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="referral_type-12" name="referralType" type="radio" value="RE_REFERRAL_AWARD_REVIEW" data-benefit-type="PIP" data-hidden="true">
        <label class="govuk-label govuk-radios__label" for="referral_type-12">
          Re-referral award review
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="referral_type-13" name="referralType" type="radio" value="RE_REFERRAL_COC_REVIEW" data-benefit-type="PIP" data-hidden="true">
        <label class="govuk-label govuk-radios__label" for="referral_type-13">
          Re-referral CoC review
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="referral_type-14" name="referralType" type="radio" value="RE_REFERRAL_REASSESSMENT" data-benefit-type="PIP" data-hidden="true">
        <label class="govuk-label govuk-radios__label" for="referral_type-14">
          Re-referral reassessment
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="referral_type-15" name="referralType" type="radio" value="RE_REFERRAL_RECONSIDERATION" data-benefit-type="PIP" data-hidden="true">
        <label class="govuk-label govuk-radios__label" for="referral_type-15">
          Re-referral reconsideration
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="referral_type-16" name="referralType" type="radio" value="REWORK" data-benefit-type="PIP" data-hidden="true">
        <label class="govuk-label govuk-radios__label" for="referral_type-16">
          Rework
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="referral_type-17" name="referralType" type="radio" value="REWORK_INDEPENDENT_AUDIT" data-benefit-type="PIP" data-hidden="true">
        <label class="govuk-label govuk-radios__label" for="referral_type-17">
          Rework independent audit
        </label>
        
      </div>
      
    
      
      
    </div>
  
  </fieldset>

</div>


        



<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">
    
    <legend class="govuk-fieldset__legend">
    
      Consent for further medical evidence given?
    
    </legend>
    
  
    <div class="govuk-radios" data-module="govuk-radios" data-govuk-radios-init="">
      
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="fme_consent_given" name="fmeConsentGiven" type="radio" value="YES">
        <label class="govuk-label govuk-radios__label" for="fme_consent_given">
          Yes
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="fme_consent_given-2" name="fmeConsentGiven" type="radio" value="NO">
        <label class="govuk-label govuk-radios__label" for="fme_consent_given-2">
          No
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="fme_consent_given-3" name="fmeConsentGiven" type="radio" value="NOT_KNOWN">
        <label class="govuk-label govuk-radios__label" for="fme_consent_given-3">
          Not known
        </label>
        
      </div>
      
    
      
      
    </div>
  
  </fieldset>

</div>


        



<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">
    
    <legend class="govuk-fieldset__legend">
    
      SREL
    
    </legend>
    
  
    <div class="govuk-radios" data-module="govuk-radios" data-govuk-radios-init="">
      
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="srti" name="isSrti" type="radio" value="YES">
        <label class="govuk-label govuk-radios__label" for="srti">
          Yes
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="srti-2" name="isSrti" type="radio" value="NO">
        <label class="govuk-label govuk-radios__label" for="srti-2">
          No
        </label>
        
      </div>
      
    
      
      
    </div>
  
  </fieldset>

</div>


        



<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">
    
    <legend class="govuk-fieldset__legend">
    
      Requires additional support?
    
    </legend>
    
  
    <div class="govuk-radios" data-module="govuk-radios" data-govuk-radios-init="">
      
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="requires_additional_support" name="requiresAdditionalSupport" type="radio" value="YES">
        <label class="govuk-label govuk-radios__label" for="requires_additional_support">
          Yes
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="requires_additional_support-2" name="requiresAdditionalSupport" type="radio" value="NO">
        <label class="govuk-label govuk-radios__label" for="requires_additional_support-2">
          No
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="requires_additional_support-3" name="requiresAdditionalSupport" type="radio" value="NOT_KNOWN">
        <label class="govuk-label govuk-radios__label" for="requires_additional_support-3">
          Not known
        </label>
        
      </div>
      
    
      
      
    </div>
  
  </fieldset>

</div>


        

        




  
<div class="govuk-form-group">

  <fieldset class="govuk-fieldset" role="group" aria-describedby="referral_date-hint">
    
    <legend class="govuk-fieldset__legend">
    
      Referral date
    
    </legend>
    
  
    <div id="referral_date-hint" class="govuk-hint">
      For example, 6 11 2024
    </div>
  
  
    <div class="govuk-date-input" id="referral_date">
      
      
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="referral_date-Day">
            Day
          </label>
        
        
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="referral_date-Day" name="referralDate-Day" type="text" value="13" autocomplete="off" inputmode="numeric">
        
        </div>
      </div>
      
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="referral_date-Month">
            Month
          </label>
        
        
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="referral_date-Month" name="referralDate-Month" type="text" value="11" autocomplete="off" inputmode="numeric">
        
        </div>
      </div>
      
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="referral_date-Year">
            Year
          </label>
        
        
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="referral_date-Year" name="referralDate-Year" type="text" value="2024" autocomplete="off" inputmode="numeric">
        
        </div>
      </div>
      
      
    </div>
  
  </fieldset>

</div>


        
  
    
  

<button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
  Create referral
</button>

      </form>
    </div>
  </div>

        </main>
      </div>{% endblock %}
