{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-two-thirds">

    <a href="claimant-detail.html" class="govuk-back-link">Back</a>


            

      <form class="form" style="margin-top: 40px;" action="claimant-detail-personal" autocomplete="off" method="post" novalidate="">
          <input type="hidden" name="_csrf" value="">
          <input type="hidden" name="citizenId" value="3cf89add-7803-45e5-9f2a-eb5991d51ba7">
          <input type="hidden" name="referralId" value="91c766bd-c468-442c-944d-9f6e7de60796">


        





<div class="govuk-form-group">

<fieldset class="govuk-fieldset" role="group" aria-describedby="dateOfDeath-hint">

<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

<h1 class="govuk-fieldset__heading">
  Date of death
</h1>

</legend>


<div id="dateOfDeath-hint" class="govuk-hint">
If the claimant has died, enter the date of death. For example, 27 3 2007
</div>


<div class="govuk-date-input" id="dateOfDeath">


<div class="govuk-date-input__item">
  <div class="govuk-form-group">
    <label class="govuk-label govuk-date-input__label" for="dateOfDeath-day">
      Day
    </label>
  
  
    <input class="govuk-input govuk-date-input__input govuk-input--width-2 " id="dateOfDeath-day" name="dateOfDeath-day" type="text" inputmode="numeric">
  
  </div>
</div>

<div class="govuk-date-input__item">
  <div class="govuk-form-group">
    <label class="govuk-label govuk-date-input__label" for="dateOfDeath-month">
      Month
    </label>
  
  
    <input class="govuk-input govuk-date-input__input govuk-input--width-2 " id="dateOfDeath-month" name="dateOfDeath-month" type="text" inputmode="numeric">
  
  </div>
</div>

<div class="govuk-date-input__item">
  <div class="govuk-form-group">
    <label class="govuk-label govuk-date-input__label" for="dateOfDeath-year">
      Year
    </label>
  
  
    <input class="govuk-input govuk-date-input__input govuk-input--width-4 " id="dateOfDeath-year" name="dateOfDeath-year" type="text" inputmode="numeric">
  
  </div>
</div>


</div>

</fieldset>

</div>



  




<button type="submit" class="govuk-button" data-module="govuk-button" id="continue" data-govuk-button-init="">
Save
</button>

      </form>
  </div>
   {% endblock %}
