{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-two-thirds">

    <a href="claimant-detail.html" class="govuk-back-link">Back</a>


    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
                
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
              
  
              <form class="form" action="claimant-detail-personal" autocomplete="off" method="post" novalidate="">
                  <input type="hidden" name="_csrf" value="">
                  <input type="hidden" name="citizenId" value="3cf89add-7803-45e5-9f2a-eb5991d51ba7">
                  <input type="hidden" name="referralId" value="91c766bd-c468-442c-944d-9f6e7de60796">
  
                  
  
  
  <div class="govuk-form-group">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="mobile">
        Enter the claimant's mobile phone number
      </label>
    </h1>
  
    
    
    <div id="mobile-hint" class="govuk-hint">
      For example, '07799997799'
    </div>
  
  
    <input class="govuk-input" id="mobile" name="mobile" type="text" aria-describedby="mobile-hint">
  
  </div>
  
  
                  
    
      
    
  
  <button type="submit" class="govuk-button" data-module="govuk-button" id="continue" data-govuk-button-init="">
    Save
  </button>
  
              </form>
          </div>
      </div>
  
              </main>
              </div>  

       </div>
   {% endblock %}
