{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

  {% include "includes/blue-banner-book-assessment.html" %}
  <!-- {% include "includes/quick-reference.html" %} -->
  <div class="govuk-width-container">
    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}
    </div>

{% endblock %}

{% block content %}


  <div class="govuk-width-container">
  

  <div class="govuk-width-container {{ containerClasses }}">
   

      <div class="govuk-grid-row">

          

        <div class="govuk-grid-column-two-thirds">


        <!-- hidden for booking details removed for mvp  <form action="event-contact" method="post" class="form"> -->
            <form action="status-question" method="post" class="form">

          <h1 class="govuk-heading-l">
            Select a status

          </h1>
  
        
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
               
                <div class="govuk-radios govuk-radios">
                 

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="assigned" name="Assigned" type="radio" value="phone" data-aria-controls="conditional-assigned">
                    <label class="govuk-label govuk-radios__label" for="assigned">
                      Assigned
                </label>                      
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="awaiting" name="awaiting" type="radio" value="phone" data-aria-controls="conditional-awaiting">
                <label class="govuk-label govuk-radios__label" for="awaiting">
                  Awaiting questionnaire
            </label>                      
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="question-1" name="question-1" type="radio" value="phone" data-aria-controls="conditional-question-1">
            <label class="govuk-label govuk-radios__label" for="question-1">
              Questionnaire reminder sent
        </label>                      
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="question-2" name="question-2" type="radio" value="phone" data-aria-controls="question-2">
        <label class="govuk-label govuk-radios__label" for="question-2">
          Questionnaire not returned
    </label>                      
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="hcp-review" name="hcp-review" type="radio" value="phone" data-aria-controls="conditional-hcp-review">
    <label class="govuk-label govuk-radios__label" for="hcp-review">
      HCP review
</label>                      
</div>
<div class="govuk-radios__item">
  <input class="govuk-radios__input" id="rme" name="rme" type="radio" value="phone" data-aria-controls="conditional-rme">
  <label class="govuk-label govuk-radios__label" for="rme">
    Request medical evidence
</label>                      
</div>
<div class="govuk-radios__item">
  <input class="govuk-radios__input" id="ame" name="ame" type="radio" value="phone" data-aria-controls="conditional-ame">
  <label class="govuk-label govuk-radios__label" for="ame">
    Awaiting medical evidence
</label>                      
</div>
<div class="govuk-radios__item">
  <input class="govuk-radios__input" id="menr-2" name="menr" type="radio" value="phone" data-aria-controls="conditional-menr-2">
  <label class="govuk-label govuk-radios__label" for="menr-2">
    Medical evidence not received
</label>                      
</div>
<div class="govuk-radios__item">
  <input class="govuk-radios__input" id="mer-2" name="mer" type="radio" value="phone" data-aria-controls="conditional-mer-2">
  <label class="govuk-label govuk-radios__label" for="mer-2">
    Medical evidence received
</label>                      
</div>
             <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="ba-2" name="ba-2" type="radio" value="phone" data-aria-controls="conditional-ba-2">
                <label class="govuk-label govuk-radios__label" for="ba-2">
    Book assessment
</label>                      
</div>
             <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="ab-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-ab-2">
                <label class="govuk-label govuk-radios__label" for="ab-2">
    Assessment booked
</label>                      
</div>
<div class="govuk-radios__item" data-module="govuk-radios">
  <input class="govuk-radios__input" id="pip-2" name="action" type="radio"data-aria-controls="conditional-pip-2">
  <label class="govuk-label govuk-radios__label" for="pip-2">
    PIP paper based review
</label>                      
</div>
             <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="f2a" name="f2a" type="radio" value="phone" data-aria-controls="conditional-f2a">
                <label class="govuk-label govuk-radios__label" for="f2a">
    Failed to attend
</label>                      
</div>
             <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="rr" name="rr" type="radio" value="phone" data-aria-controls="conditional-rr">
                <label class="govuk-label govuk-radios__label" for="rr">
    Report ready
</label>                      
</div>
             <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="hcpa" name="hcpa" type="radio" value="phone" data-aria-controls="conditional-hcpa">
                <label class="govuk-label govuk-radios__label" for="hcpa">
    HCP audit
</label>                      
</div>
             <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="done-2" name="done" type="radio" value="phone" data-aria-controls="conditional-done-2">
                <label class="govuk-label govuk-radios__label" for="done-2">
    Done
</label>                      
</div>
             <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="withdrawn" name="withdrawn" type="radio" value="phone" data-aria-controls="conditional-withdrawn">
                <label class="govuk-label govuk-radios__label" for="withdrawn">
    Withdrawn
</label>                      
</div>
             <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="cie" name="cie" type="radio" value="phone" data-aria-controls="conditional-cie">
                <label class="govuk-label govuk-radios__label" for="cie">
    Created in error
</label>                      
</div>
             
              

               
            
      </div>

       <br>
             


         <!-- <div class="hidden-radio-post">
                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="contact-claim-change" name="contact-method" type="radio" value="The claim has changed" {{ checked("contact-method", "The claim has changed") }}checked>
                    <label class="govuk-label govuk-radios__label" for="log-show">
                   Hidden radio = The claim has changed
                    </label>
                  </div>
                </div>
              </div>-->  
          

              {{ govukButton({
                text: "Continue"
              }) }}

            </form>
 
            </div>
        </div>
  </div>
  </div>
{% endblock %}