{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{% include "includes/blue-banner-hcp.html" %}


{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: -40px;">
  
  <div class="govuk-grid-column-two-thirds">
     <a href="appointment-booked.html" class="govuk-back-link">Back</a>
    
    
    <div class="column-full">
      <nav class="navigation-secondary" style="margin-left: 0px !important; margin-right: 0px !important;">
        
        <ul>
          <li>
            <a href="claimant-detail-nav.html" class="active" aria-current="section">Personal details</a>
          </li>

          <li>
            <a href="conditions">Conditions</a>
          </li>
          <li>
            <a href="activities">Activities</a>
          </li>
  
          <li>
            <a href="event-history">Event history</a>
          </li>
  
          <li>
            <a href="Other-actions">Other actions</a>
          </li>
  
        </ul>
      </nav>
    </div>
   
    <div class="govuk-width-container ">


      <div role="navigation">
          
      </div>
      <div class="govuk-grid-row notification-banner">
          

</div>
    

  <main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <h1 class="govuk-heading-l">Personal details</h1>

<div class="govuk-tabs" data-module="govuk-tabs">
<h2 class="govuk-tabs__title">
Personal details
</h2>
<ul class="govuk-tabs__list" role="tablist">
<li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">
<a class="govuk-tabs__tab" href="#claimant" id="tab_claimant" role="tab" aria-controls="claimant" aria-selected="true" tabindex="0">
  Claimant
</a>
</li>
<li class="govuk-tabs__list-item" role="presentation">
<a class="govuk-tabs__tab" href="#health-professionals" id="tab_health-professionals" role="tab" aria-controls="health-professionals" aria-selected="false" tabindex="-1">
  Health professionals
</a>
</li>
<li class="govuk-tabs__list-item" role="presentation">
<a class="govuk-tabs__tab" href="#support" id="tab_support" role="tab" aria-controls="support" aria-selected="false" tabindex="-1">
  Support and communication
</a>
</li>
</ul>

<div class="govuk-tabs__panel" id="claimant" role="tabpanel" aria-labelledby="tab_claimant">
<h2 class="govuk-heading-m">Contact details</h2>

<table class="govuk-table">

<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__header" width="42%">Claim date</td>
    <td class="govuk-table__cell">20 November 2023</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">National Insurance number</td>
    <td class="govuk-table__cell">NA 11 22 33 C</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Name</td>
    <td class="govuk-table__cell">Sam Elliot</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Age</td>
    <td class="govuk-table__cell">52</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Date of birth</td>
    <td class="govuk-table__cell">3 November 1971</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Home address</td>
    <td class="govuk-table__cell">12 Trinity Road <br>
                                  Aston   <br>
                                  Birmingham <br>
                                  B6 6HE</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Can we write to you at this address?</td>
    <td class="govuk-table__cell">Yes</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Correspondence address</td>
    <td class="govuk-table__cell">Same as home address</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Mobile phone number</td>
    <td class="govuk-table__cell">07789 121 212</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Do you want to receive text message updates about your claim?</td>
    <td class="govuk-table__cell">No</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Alternative phone number</td>
    <td class="govuk-table__cell">None</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Textphone</td>
    <td class="govuk-table__cell">None</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Email address</td>
    <td class="govuk-table__cell">sam@email.com</td>
  </tr>
   <tr class="govuk-table__row">
    <td class="govuk-table__header">Are you currently staying in health or care accommodation?</td>
    <td class="govuk-table__cell">No</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">When did you go into this health or care accommodation?</td>
    <td class="govuk-table__cell">Not applicable</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Health or care accommodation address</td>
    <td class="govuk-table__cell">Not applicable</td>
  </tr>
</tbody>
</table>
<br>
<h2 class="govuk-heading-m">Nationality</h2>
<table class="govuk-table">

<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Nationality</td>
    <td class="govuk-table__cell">British</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header" width="42%">Did you start living in the UK before 1 January 2021?</td>
    <td class="govuk-table__cell">Yes</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Have you been in the UK for at least 2 of the last 3 years?</td>
    <td class="govuk-table__cell">Yes</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Are you or a family member receiving any pension or benefit from another European Economic Area (EEA) state or Switzerland?</td>
    <td class="govuk-table__cell">No</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Are you or a family member working, paying, or have paid insurance to another European Economic Area (EEA) state or Switzerland?</td>
    <td class="govuk-table__cell">No</td>
  </tr>

</tbody>
</table>

</div>
<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="health-professionals" role="tabpanel" aria-labelledby="tab_health-professionals">
  <h2 class="govuk-heading-m">Consent</h2>
  <table class="govuk-table">

  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__header" width="42%">Can DWP contact your health and care professionals for information about you?</td>
      <td class="govuk-table__cell">Yes</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__header">Can your health and care professionals share information to support your claim?</td>
      <td class="govuk-table__cell">Yes</td>
    </tr>
  </tbody>
  </table>
<br>
<h2 class="govuk-heading-m">Health professional 1</h2>
<table class="govuk-table">

<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__header" width="42%">Name</td>
    <td class="govuk-table__cell">Dr Nassef Sawiris</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Profession</td>
    <td class="govuk-table__cell">Doctor</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Phone number</td>
    <td class="govuk-table__cell">0121 555 6678</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Address</td>
    <td class="govuk-table__cell">Holte Surgery
                              <br>Witton Road
                              <br>Aston
                              <br>Birmingham
                              <br>B5 4HG
                                  </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Approximate date of last appointment</td>
    <td class="govuk-table__cell">No date given</td>
  </tr>
</tbody>
</table>
<br>
<h2 class="govuk-heading-m">Health professional 2</h2>
<table class="govuk-table">

<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__header" width="42%">Name</td>
    <td class="govuk-table__cell">Dr George Cummings </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Profession</td>
    <td class="govuk-table__cell">Doctor</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Phone number</td>
    <td class="govuk-table__cell">0121 323212</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Address</td>
    <td class="govuk-table__cell">Queen Elizabeth II Hospital
                              <br>Birmingham
                              <br>B15 2WB
                              <br>United Kingdom</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Approximate date of last appointment</td>
    <td class="govuk-table__cell">No date given</td>
  </tr>
</tbody>
</table>

</div>
<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="support" role="tabpanel" aria-labelledby="tab_support">
<h2 class="govuk-heading-m">Help and support</h2>
<table class="govuk-table">
<thead class="govuk-table__head"></thead>
<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__header" width="42%">Do you need help from someone else to communicate with us?</td>
    <td class="govuk-table__cell">No</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Do you need help to fill in forms and understand letters?</td>
    <td class="govuk-table__cell">No</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Is someone helping you with this claim?
</td>
    <td class="govuk-table__cell">No</td>
  </tr>
  <!-- <tr class="govuk-table__row">
    <td class="govuk-table__header">Name of the person helping you with this claim?</td>
    <td class="govuk-table__cell">John Doe</td>
  </tr> -->
</tbody>
</table>
<br>
<h2 class="govuk-heading-m">Alternative communication format</h2>
    <table class="govuk-table">
    <thead class="govuk-table__head"></thead>
    <tbody class="govuk-table__body">
       <tr class="govuk-table__row">
        <td class="govuk-table__header" width="42%">Do you need communications in another format?</td>
        <td class="govuk-table__cell">No</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">Which other format do you need?</td>
        <td class="govuk-table__cell">Not applicable</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">Format type</td>
        <td class="govuk-table__cell">Not applicable</td>
      </tr>
    </tbody>
    </table>
</div>

</div>
</div>
</div></main>

{% endblock %}
