{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          

          <form class="form" action="nrta-confirmation" autocomplete="off" method="post" novalidate="">
              <input type="hidden" name="_csrf" value="">
                                                         
                                          
<div class="govuk-form-group">

<fieldset class="govuk-fieldset">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--l">
  
    <h1 class="govuk-fieldset__heading">
      <span class="govuk-caption-l govuk-!-margin-bottom-2">New referrals to assign</span>Which caseload do you want to assign these referrals to?
    </h1>
  
  </legend>
  

  <div class="govuk-radios ga-radios-small" data-module="govuk-radios" data-govuk-radios-init="">
    
    
      
  
    
    
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="existing-caseload-1" name="assign-referrals-caseload" type="radio" value="0fee7be4-5c43-4c14-9160-b5ab444d97f0">
      <label class="govuk-label govuk-radios__label" for="existing-caseload-1">
        Bobbery (4)
      </label>
      
    </div>
    
  
    
      
  
    
    
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="existing-caseload-2" name="assign-referrals-caseload" type="radio" value="d15dc54e-630f-4978-9c15-2b70cf3f8456">
      <label class="govuk-label govuk-radios__label" for="existing-caseload-2">
        Chris (6)
      </label>
      
    </div>
    
  
    
      
  
    
    
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="existing-caseload-3" name="assign-referrals-caseload" type="radio" value="82675b49-fe64-428c-8e93-6905b228ea09">
      <label class="govuk-label govuk-radios__label" for="existing-caseload-3">
        DJ (22)
      </label>
      
    </div>
    
  
    
      
  
    
    
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="existing-caseload-4" name="assign-referrals-caseload" type="radio" value="0a88835a-70fa-45fb-b9fe-9cb58c1560b2">
      <label class="govuk-label govuk-radios__label" for="existing-caseload-4">
        E2E Caseload (8)
      </label>
      
    </div>
    
  
    
      
  
    
    
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="existing-caseload-5" name="assign-referrals-caseload" type="radio" value="020fdf4c-eb4d-43f4-a367-ad76dc88fcd6">
      <label class="govuk-label govuk-radios__label" for="existing-caseload-5">
        Felix (4)
      </label>
      
    </div>
    
  
    
      
  
    
    
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="existing-caseload-6" name="assign-referrals-caseload" type="radio" value="2e5f869a-1393-490e-a8f6-74c59030bb24">
      <label class="govuk-label govuk-radios__label" for="existing-caseload-6">
        Mike (2)
      </label>
      
    </div>
    
  
    
      
  
    
    
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="existing-caseload-7" name="assign-referrals-caseload" type="radio" value="efa287eb-edd0-420a-a4ae-ed394509806f">
      <label class="govuk-label govuk-radios__label" for="existing-caseload-7">
        Raju (1)
      </label>
      
    </div>
    
  
    
      
  
    
    
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="existing-caseload-8" name="assign-referrals-caseload" type="radio" value="622ba387-76ba-4b31-a83c-83b1174e7ee4">
      <label class="govuk-label govuk-radios__label" for="existing-caseload-8">
        Tamas (4)
      </label>
      
    </div>
    
  
    
      
  
    
    
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="existing-caseload-9" name="assign-referrals-caseload" type="radio" value="b6f17916-16b8-4730-9eed-3ac115d03843">
      <label class="govuk-label govuk-radios__label" for="existing-caseload-9">
        Test (4)
      </label>
      
    </div>
    
  
    
      
  
    
    
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="existing-caseload-10" name="assign-referrals-caseload" type="radio" value="78e60c7b-ef91-4dd6-af3c-1826976b39b2">
      <label class="govuk-label govuk-radios__label" for="existing-caseload-10">
        pdf (1)
      </label>
      
    </div>
    
  
    
      
  
    
    
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="existing-caseload-11" name="assign-referrals-caseload" type="radio" value="a246be77-73b8-4393-8d30-705e8e8b1237">
      <label class="govuk-label govuk-radios__label" for="existing-caseload-11">
        sh (13)
      </label>
      
    </div>
    
  
    
      
  
    <div class="govuk-radios__divider">or</div>
  
    
      
  
    
    
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="new-caseload" name="assign-referrals-caseload" type="radio" value="new-list">
      <label class="govuk-label govuk-radios__label" for="new-caseload">
        Create a new caseload
      </label>
      
    </div>
    
  
    
    
  </div>

</fieldset>

</div>

                  

  


<button type="submit" class="govuk-button" data-module="govuk-button" id="submit" data-govuk-button-init="">
Save and continue
</button>

              </form>
          </div>
      </div>

{% endblock %}
