{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}


    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
      Referral updated
      </h1>
  
    </div>
    <p> Referral successfully created</p>
  <p>
    <p>
      <a href="create-new-referral.html" aria-describedby="update-status">Add another</a>
      or
    
      <a href="main-menu.html" aria-describedby="update-status">return to main menu</a>



{% endblock %}

