{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          

          <form class="form" action="unactioned-task-question" autocomplete="off" method="post" novalidate="">
              <input type="hidden" name="_csrf" value="">
                                                         
                                          
<div class="govuk-form-group">

<fieldset class="govuk-fieldset">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--l">
  
    <h1 class="govuk-fieldset__heading">
    Task alert
    </h1>
  
  </legend>
  
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
       Date created
      </dt>
      <dd class="govuk-summary-list__value">
        25 January 2024
      </dd>
      <dd class="govuk-summary-list__actions">
       
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Task type code
      </dt>
      <dd class="govuk-summary-list__value">
        Task
      </dd>
      <dd class="govuk-summary-list__actions">
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Subject      
      </dt>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body">NM00000000013A Action required - additional support indicated and Part 2 not returned</p>
      </dd>
      <dd class="govuk-summary-list__actions">
        <ul class="govuk-summary-list__actions-list">
          <li class="govuk-summary-list__actions-list-item">
          </li>
          <li class="govuk-summary-list__actions-list-item">
          </li>
        </ul>
      </dd>
    </div>
  </dl>
  <div>
    <button type="submit" class="govuk-button govuk-!-margin-top-5" data-module="govuk-button" id="submit" data-govuk-button-init="">
      Alert actioned
    </button>

      </div>
{% endblock %}
