{% extends "layouts/main.html" %}
{% block header %}
{{
  dwpHeader({
      name: "Health Assessment Service",
      serviceHref: '/',
      container: true
  })
  
}}
<header class="govuk-header" role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container" style="padding-top: 0px !important;">
    <div class="govuk-header__content" style="padding-left: 0px !important;">
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation" hidden="">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation" style="padding-left: 0px !important;">
          <li class="govuk-header__navigation-item govuk-header__navigation-item">
            <a class="govuk-header__link" href="main-menu.html">
              Manage referrals
            </a>
          </li>
          <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
            <a class="govuk-header__link" href="find-a-claimant.html">
            Find a claimant
            </a>
          </li>
          <li class="govuk-header__navigation-item govuk-header__navigation-item">
            <a class="govuk-header__link" href="caseload-or-status.html">
            View a caseload or status
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </div>
</header>
{% endblock %}
{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="find-a-claimant-form" class="form" action="claimant-detail-nav2.html">
        <input type="hidden" name="_csrf" value="">
        <fieldset class="govuk-fieldset">
  
  <legend class="govuk-fieldset__legend govuk-caption-l">
  
    <h1 class="govuk-fieldset__heading">
      <span class="govuk-caption-l">Find a claimant</span>
    </h1>
  
  </legend>
  

</fieldset>


        

<div class="govuk-form-group">
  <label class="govuk-label govuk-label--l" for="search-term">
    Enter the claimant's full name or 
    National Insurance number
  </label>

  
  
  <div id="search-term-hint" class="govuk-hint">
    For example, 'Jane Doe' or ‘PB 61 29 00 C’
  </div>

<input class="govuk-input govuk-input--width-full" id="search-term" name="search-term" type="text" spellcheck="false" aria-describedby="search-term-hint" maxlength="72" autocomplete="off">

</div>        
    
  

<button type="submit" class="govuk-button" data-module="govuk-button" id="search">
  Search
</button>

      </form>

    </div>
  </div>

{% endblock %}
