{% extends "layouts/main.html" %}
{% block header %}
{{
  dwpHeader({
      name: "Health Assessment Service",
      serviceHref: '/',
      container: true
  })
  
}}
<div>
  <div class="govuk-service-navigation"
    data-module="govuk-service-navigation">
    <div class="govuk-width-container">
      <div class="govuk-service-navigation__container">
        <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
          <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
            Manage referrals
          </button>
          <ul class="govuk-service-navigation__list" id="navigation">
            <li class="govuk-service-navigation__item">
              <a class="govuk-service-navigation__link" href="main-menu.html">
                Manage referrals
              </a>
            </li>
            <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
              <a class="govuk-service-navigation__link" href="#" aria-current="true">
                <strong class="govuk-service-navigation__active-fallback">Find a claimant</strong>
              </a>
            </li>
  
            <li class="govuk-service-navigation__item">
              <a class="govuk-service-navigation__link" href="caseload-or-status.html">
                View caseload or status
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  </div>
{% endblock %}
{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="find-a-claimant-form" class="form" action="claimant-detail-nav2.html">
        <input type="hidden" name="_csrf" value="">
        <fieldset class="govuk-fieldset">
  
  <legend class="govuk-fieldset__legend govuk-caption-l">
  
    <h1 class="govuk-fieldset__heading">
      <span class="govuk-caption-l">Find a claimant</span>
    </h1>
  
  </legend>
  

</fieldset>


        

<div class="govuk-form-group">
  <label class="govuk-label govuk-label--l" for="search-term">
    Enter the claimant's full name or 
    National Insurance number
  </label>

  
  
  <div id="search-term-hint" class="govuk-hint">
    For example, 'Jane Doe' or ‘PB 61 29 00 C’
  </div>

<input class="govuk-input govuk-input--width-full" id="search-term" name="search-term" type="text" spellcheck="false" aria-describedby="search-term-hint" maxlength="72" autocomplete="off">

</div>        
    
  

<button type="submit" class="govuk-button" data-module="govuk-button" id="search">
  Search
</button>

      </form>

    </div>
  </div>

{% endblock %}
