{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<nav class="navigation-secondary">
  <ul>
    <li>
      <a href="personal-details" class="active" aria-current="section">Personal details</a>
    </li>
    <!-- <li>
      
      <a href="https://supporting-docs-prototype.herokuapp.com/vStarling-award/document-list">Supporting documents</a>
      
    </li> -->
    <li>
      <a href="conditions">Conditions</a>
    </li>
    <li>
      <a href="activities">Activities</a>
    </li>

    <li>
      <a href="event-history">Event history</a>
    </li>

    <li>
      <a href="Other-actions">Other actions</a>
    </li>

  </ul>
</nav>

{% endblock %}
