{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<section class="dwp-key-details-bar" aria-label="Key details">
  <div class="dwp-key-details-bar__key-details">
  <dl class="dwp-key-details-bar__top-block">
    <dt class="govuk-visually-hidden">Name:</dt>
    <dd class="dwp-key-details-bar__primary">Sam Doe</dd>
    <dt class="govuk-visually-hidden">National Insurance Number:</dt>
    <dd class="dwp-key-details-bar__secondary">QQ 12 34 56 X</dd>
    <dt class="govuk-visually-hidden">Claim status:</dt>
    <dd class="dwp-key-details-bar__status">
      <strong class="govuk-tag dwp-key-details-bar__status--dwp-default">
        Review evidence
      </strong>
    </dd>
  </dl>
  <dl class="dwp-key-details-bar__bottom-block">
    <dt>Date of birth:</dt>
    <dd>4 June 1972</dd>
    <dt>Case reference:</dt>
    <dd>RM PX 30</dd>
  </dl>
  </div>
  </section>
  <div class="govuk-width-container ">
        
    <a href="review-task.html" class="govuk-back-link">Back</a>
  
  
          <main class="govuk-main-wrapper " id="main-content" role="main">
            
  
  <div class="govuk-grid-row govuk-main-wrapper govuk-main-wrapper--auto-spacing">
    <div class="govuk-grid-column-two-thirds">
      <main id="main-content">
  
        <h1 class="govuk-heading-m">Personal details</h1>
  
        <dl class="govuk-summary-list" id="personal-details">
  
  
          <div class="govuk-summary-list__row preferred-name">
            <dt class="govuk-summary-list__key">
              Preferred name
            </dt>
            <dd class="govuk-summary-list__value">
              Testings
            </dd>
  
          </div>
  
  
  
          <div class="govuk-summary-list__row postcode">
            <dt class="govuk-summary-list__key">
              Postcode
            </dt>
            <dd class="govuk-summary-list__value">
              B19 1AA
            </dd>
  
          </div>
  
  
  
          <div class="govuk-summary-list__row home-number">
            <dt class="govuk-summary-list__key">
              Home phone number
            </dt>
            <dd class="govuk-summary-list__value">
  
            </dd>
  
          </div>
  
  
  
          <div class="govuk-summary-list__row mobile-number">
            <dt class="govuk-summary-list__key">
              Mobile phone number
            </dt>
            <dd class="govuk-summary-list__value">
  
            </dd>
  
          </div>
  
  
        </dl>
  
        <h2 class="govuk-heading-m">Referral details</h2>
  
        <dl class="govuk-summary-list" id="referral-details">
  
  
          <div class="govuk-summary-list__row referral-date">
            <dt class="govuk-summary-list__key">
              Referral date
            </dt>
            <dd class="govuk-summary-list__value">
              22 October 2023
            </dd>
  
          </div>
  
  
  
          <div class="govuk-summary-list__row srti">
            <dt class="govuk-summary-list__key">
              End of life
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
  
          </div>
  
  
  
          <div class="govuk-summary-list__row benefit-type">
            <dt class="govuk-summary-list__key">
              Benefit type
            </dt>
            <dd class="govuk-summary-list__value">
              ESA
            </dd>
  
          </div>
  
  
  
          <div class="govuk-summary-list__row referral-type">
            <dt class="govuk-summary-list__key">
              Referral type
            </dt>
            <dd class="govuk-summary-list__value">
              New referral
            </dd>
  
          </div>
  
  
  
          <div class="govuk-summary-list__row site-name">
            <dt class="govuk-summary-list__key">
              Assessment centre
            </dt>
            <dd class="govuk-summary-list__value">
              Handsworth
            </dd>
  
          </div>
  
  
  
          <div class="govuk-summary-list__row caseload-name">
            <dt class="govuk-summary-list__key">
              Caseload
            </dt>
            <dd class="govuk-summary-list__value">
              Reviewees
            </dd>
  
          </div>
  
  
  
          <div class="govuk-summary-list__row next-action-due-date">
            <dt class="govuk-summary-list__key">
              Next action due in
            </dt>
            <dd class="govuk-summary-list__value">
              3 days
            </dd>
  
          </div>
  
  
        </dl>
  
  
        
  
  
        
    </main></div>
  
    <div class="govuk-grid-column-one-third">
  
  
      <div class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          What you can do next
        </h2>
        <nav aria-labelledby="subsection-title">
          <ul class="govuk-list">
  
            <li>
  
              <a href="task-list-status" id="action_update_status" class="govuk-link govuk-link--no-visited-state">Update status</a>
  
            </li>
  
            <li>
              <a href="#" id="action_assign_caseload" class="govuk-link govuk-link--no-visited-state">View timeline</a>
            </li>
  
            <li>
              <a href="#" id="action_assign_caseload" class="govuk-link govuk-link--no-visited-state">Add entry to
                timeline</a>
            </li>
  
            <li>
              <a href="#" id="action_assign_caseload" class="govuk-link govuk-link--no-visited-state">HCP review</a>
            </li>
  
            <li>
  
  
              <a href="#" id="action_assign_caseload" class="govuk-link govuk-link--no-visited-state">View claimant
                documents</a>
  
            </li>
  
            <li>
  
              <a href="#" id="action_assign_caseload" class="govuk-link govuk-link--no-visited-state">Move to another
                caseload</a>
  
  
            </li>
  
          </ul>
        </nav>
      </div>
      
      <div class="govuk-width-container">  
        <a href="main-menu-mar2026-1.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
          Return to dashboard
        </a>
      </div>   
  
    </div>
  </div>
  </main></div>
{% endblock %}
