{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-width-container ">
        
    <a href="task-list-status.html" class="govuk-back-link">Back</a>
  
    <div class="govuk-width-container ">
        
      <main class="govuk-main-wrapper " id="main-content" role="main">
        

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
      Referral status updated for <strong>Sam Doe</strong>
    </h1>
  </div>

  <a href="main-menu-mar2026-complete.html">Return to dashboard</a>
</div>
</div>


      </main>
    </div>
{% endblock %}
