{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% extends "layouts/main.html" %}
{{
  dwpHeader({
      name: "Health Assessment Service",
      serviceHref: '/',
      container: true
  })
  
}}
<header class="govuk-header" role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container" style="padding-top: 0px !important;">
    <div class="govuk-header__content" style="padding-left: 0px !important;">
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation" hidden="">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation" style="padding-left: 0px !important;">
          <li class="govuk-header__navigation-item govuk-header__navigation-item">
            <a class="govuk-header__link" href="main-menu.html">
              Manage referrals
            </a>
          </li>
          <li class="govuk-header__navigation-item govuk-header__navigation-item">
            <a class="govuk-header__link" href="find-a-claimant.html">
              Find a claimant
            </a>
          </li>
          <li class="govuk-header__navigation-item govuk-header__navigation-item">
            <a class="govuk-header__link" href="caseload-or-status.html">
            View a caseload or status
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

{% include "includes/blue-banner-test.html" %}


{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: 0px;">
    
    <div class="govuk-width-container">
              <div class="column-full">
          <nav class="navigation-secondary" style="margin-left: 0px !important; margin-right: 0px !important;">
            <ul>
                <li>
                    <a href="claimant-detail-nav2.html" >Referral details</a>
                  </li>
                  <li>
                    <a href="claimant-detail-nav3.html" >Claimant details</a>
                  </li>
        
              <li>
                <a href="timeline" class="active" aria-current="section">Timeline</a>
              </li>
              <li>
                <a href="claimant-documents.html">Claimant documents</a>
              </li>
      
              <li>
                <a href="hcp-review.html">HCP review</a>
              </li>
      
              <li>
                <a href="">Assessment</a>
              </li>
    
              <li>
                <a href="">Report</a>
              </li>

            </ul>
          </nav>
          <div role="navigation">
              
          </div>
          <div class="govuk-grid-row notification-banner">
           
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-width-container ">
      <div role="navigation">
          
      </div>
      <div class="govuk-grid-row notification-banner">
          
        <div class="govuk-width-container govuk-width-container--wide">
        
  
          <div role="navigation">
     
          </div>
        
      
              <main class="govuk-main-wrapper" id="main-content">
                
        
          <div class="govuk-grid-row">
      
            
              <div class="govuk-grid-column-one-quarter">
                <h2 class="govuk-heading-m govuk-!-Marchgin-bottom-5">
        Filters
      </h2>
      
      <div id="filter-hint" class="govuk-hint govuk-!-Marchgin-bottom-4">
        Select one or more filters to apply to the list.
      </div>
      
      <div class="table-filter">
        <form id="timeline-filter">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Benefit type
              </legend>
      
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" data-govuk-checkboxes-init="">
                
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="esa" name="benefit-type" type="checkbox" value="ESA">
      
                    <label class="govuk-label govuk-checkboxes__label" for="esa">
                      Employment Support Allowance (15)
                    </label>
                  </div>
                
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="pip" name="benefit-type" type="checkbox" value="PIP">
      
                    <label class="govuk-label govuk-checkboxes__label" for="pip">
                      Personal Independence Payment (11)
                    </label>
                  </div>
                
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="uc" name="benefit-type" type="checkbox" value="UC">
      
                    <label class="govuk-label govuk-checkboxes__label" for="uc">
                      Universal Credit (0)
                    </label>
                  </div>
                    
              </div>
            </fieldset>
          </div>
      
          <button class="govuk-button govuk-button--secondary govuk-!-Marchgin-bottom-8">
            Apply filters
          </button>
        </form>
      </div>
      
              </div>
            
      
            <div class="govuk-grid-column-one-half">
              <h1 class="govuk-heading-l">Timeline</h1>
      
              
                <div class="dwp-timeline">
                  <ol class="dwp-timeline__items">
                  
                    <li class="dwp-timeline__item" id="event-1">
                      <p class="dwp-timeline__datetime" id="event-date-1">
          8 November 2024
      </p>
      <h2 class="dwp-timeline__heading" id="event-header-1">
          <span class="govuk-visually-hidden">Event 1: </span>ESA Report audited
      </h2>
      <p class="dwp-timeline__by-line" id="event-by-1">
          by Chris Hulley
      </p>
      
                    </li>
                  
                    <li class="dwp-timeline__item" id="event-2">
                      <p class="dwp-timeline__datetime" id="event-date-2">
          8 November 2024
      </p>
      <h2 class="dwp-timeline__heading" id="event-header-2">
          <span class="govuk-visually-hidden">Event 2: </span>ESA update to claim
      </h2>
      <p class="dwp-timeline__by-line" id="event-by-2">
          by Chris Hulley
      </p>
      
      <p class="dwp-timeline__content" id="event-description-additional-2">
          
      
          
      
          
              <span id="event-description-2">
                  
                      
                          Post
                  
          
                  
                      to 
                  
          
                  
                      GP surgen 
                  
              </span>
          
      </p>
      
                    </li>
                  
                    <li class="dwp-timeline__item" id="event-3">
                      <p class="dwp-timeline__datetime" id="event-date-3">
          8 November 2024
      </p>
      <h2 class="dwp-timeline__heading" id="event-header-3">
          <span class="govuk-visually-hidden">Event 3: </span>ESA Reminded them to send evidence
      </h2>
      <p class="dwp-timeline__by-line" id="event-by-3">
          by Chris Hulley
      </p>
      
      <p class="dwp-timeline__content" id="event-description-additional-3">
          
      
          
      
          
              <span id="event-description-3">
                  
                      
                          Post
                  
          
                  
                      to 
                  
          
                  
                      the claimant
                  
              </span>
          
      </p>
      
                    </li>
                  
                    <li class="dwp-timeline__item" id="event-4">
                      <p class="dwp-timeline__datetime" id="event-date-4">
          8 November 2024 at 12:00 
      </p>
      <h2 class="dwp-timeline__heading" id="event-header-4">
          <span class="govuk-visually-hidden">Event 4: </span>ESA Update to claim
      </h2>
      <p class="dwp-timeline__by-line" id="event-by-4">
          by Chris Hulley
      </p>
      
      <p class="dwp-timeline__content" id="event-description-additional-4">
          
      
          
      
          
              <span id="event-description-4">
                  
                      
                          Post
                  
          
                  
                      from 
                  
          
                  
                      GP surgen 
                  
              </span>
          
      </p>
      
                    </li>
                  
                    <li class="dwp-timeline__item" id="event-5">
                      <p class="dwp-timeline__datetime" id="event-date-5">
          6 November 2024
      </p>
      <h2 class="dwp-timeline__heading" id="event-header-5">
          <span class="govuk-visually-hidden">Event 5: </span>PIP Progress chasing
      </h2>
      <p class="dwp-timeline__by-line" id="event-by-5">
          by Chris Hulley
      </p>
      
      <p class="dwp-timeline__content" id="event-description-additional-5">
          Test
      
           – 
      
          
              <span id="event-description-5">
                  
                      
                          Post
                  
          
                  
                      from 
                  
          
                  
                      GP surgen 
                  
              </span>
          
      </p>
      
                    </li>
                  
                    <li class="dwp-timeline__item" id="event-6">
                      <p class="dwp-timeline__datetime" id="event-date-6">
          31 October 2024 at 11:36am 
      </p>
      <h2 class="dwp-timeline__heading" id="event-header-6">
          <span class="govuk-visually-hidden">Event 6: </span>PIP Report completed
      </h2>
      <p class="dwp-timeline__by-line" id="event-by-6">
          by Chris Hulley
      </p>
      
                    </li>
                  
                    <li class="dwp-timeline__item" id="event-7">
                      <p class="dwp-timeline__datetime" id="event-date-7">
          28 October 2024
      </p>
      <h2 class="dwp-timeline__heading" id="event-header-7">
          <span class="govuk-visually-hidden">Event 7: </span>ESA Returned questionnaire
      </h2>
      <p class="dwp-timeline__by-line" id="event-by-7">
          by David Young
      </p>
      
      <p class="dwp-timeline__content" id="event-description-additional-7">
          Blah blah blah
      
           – 
      
          
              <span id="event-description-7">
                  
                      
                          Telephone call
                  
          
                  
                      from 
                  
          
                  
                      the claimant
                  
              </span>
          
      </p>
      
                    </li>
                  
                    <li class="dwp-timeline__item" id="event-8">
                      <p class="dwp-timeline__datetime" id="event-date-8">
          22 October 2024
      </p>
      <h2 class="dwp-timeline__heading" id="event-header-8">
          <span class="govuk-visually-hidden">Event 8: </span>ESA Testing
      </h2>
      <p class="dwp-timeline__by-line" id="event-by-8">
          by Lightning McQueen
      </p>
      
      <p class="dwp-timeline__content" id="event-description-additional-8">
          Testing
      
          
      
          
      </p>
      
                    </li>
                  
                    <li class="dwp-timeline__item" id="event-9">
                      <p class="dwp-timeline__datetime" id="event-date-9">
          22 October 2024
      </p>
      <h2 class="dwp-timeline__heading" id="event-header-9">
          <span class="govuk-visually-hidden">Event 9: </span>PIP Failed to attend assessment
      </h2>
      <p class="dwp-timeline__by-line" id="event-by-9">
          by Chris Hulley
      </p>
      
                    </li>
                  
                    <li class="dwp-timeline__item" id="event-10">
                      <p class="dwp-timeline__datetime" id="event-date-10">
          10 October 2024
      </p>
      <h2 class="dwp-timeline__heading" id="event-header-10">
          <span class="govuk-visually-hidden">Event 10: </span>ESA Progress chasing
      </h2>
      <p class="dwp-timeline__by-line" id="event-by-10">
          by David Young
      </p>
      
      <p class="dwp-timeline__content" id="event-description-additional-10">
          
      
          
      
          
              <span id="event-description-10">
                  
                      
                          Post
                  
          
                  
                      from 
                  
          
                  
                      the claimant
                  
              </span>
          
      </p>
      
                    </li>
                  
                    <li class="dwp-timeline__item" id="event-11">
                      <p class="dwp-timeline__datetime" id="event-date-11">
          10 October 2024
      </p>
      <h2 class="dwp-timeline__heading" id="event-header-11">
          <span class="govuk-visually-hidden">Event 11: </span>ESA Initial or further evidence reviewed
      </h2>
      <p class="dwp-timeline__by-line" id="event-by-11">
          by David Young
      </p>
      
                    </li>
                  
                    <li class="dwp-timeline__item" id="event-12">
                      <p class="dwp-timeline__datetime" id="event-date-12">
          2 October 2024
      </p>
      <h2 class="dwp-timeline__heading" id="event-header-12">
          <span class="govuk-visually-hidden">Event 12: </span>ESA Progress chasing
      </h2>
      <p class="dwp-timeline__by-line" id="event-by-12">
          by Chris Hulley
      </p>
      
      <p class="dwp-timeline__content" id="event-description-additional-12">
          Test comment
      
          
      
          
              <span id="event-description-12">
                  
                      
                          Post
                  
          
                  
                      to 
                  
          
                  
                      the claimant
                  
              </span>
          
      </p>
      
                    </li>
                  
                    <li class="dwp-timeline__item" id="event-13">
                      <p class="dwp-timeline__datetime" id="event-date-13">
          2 October 2024 at 13:00 
      </p>
      <h2 class="dwp-timeline__heading" id="event-header-13">
          <span class="govuk-visually-hidden">Event 13: </span>ESA Sent questionnaire
      </h2>
      <p class="dwp-timeline__by-line" id="event-by-13">
          by Chris Hulley
      </p>
      
      <p class="dwp-timeline__content" id="event-description-additional-13">
          Test comment
      
           – 
      
          
              <span id="event-description-13">
                  
                      
                          Telephone call
                  
          
                  
                      to 
                  
          
                  
                      GP surgen 
                  
              </span>
          
      </p>
      
                    </li>
                  
                    <li class="dwp-timeline__item" id="event-14">
                      <p class="dwp-timeline__datetime" id="event-date-14">
          2 October 2024 at 12:00 
      </p>
      <h2 class="dwp-timeline__heading" id="event-header-14">
          <span class="govuk-visually-hidden">Event 14: </span>ESA Returned questionnaire
      </h2>
      <p class="dwp-timeline__by-line" id="event-by-14">
          by Chris Hulley
      </p>
      
      <p class="dwp-timeline__content" id="event-description-additional-14">
          
      
          
      
          
              <span id="event-description-14">
                  
                      
                          Telephone call
                  
          
                  
                      from 
                  
          
                  
                      the claimant
                  
              </span>
          
      </p>
      
                    </li>
                  
                    <li class="dwp-timeline__item" id="event-15">
                      <p class="dwp-timeline__datetime" id="event-date-15">
          2 October 2024 at 9:20 
      </p>
      <h2 class="dwp-timeline__heading" id="event-header-15">
          <span class="govuk-visually-hidden">Event 15: </span>PIP Progress chasing
      </h2>
      <p class="dwp-timeline__by-line" id="event-by-15">
          by David Young
      </p>
      
      <p class="dwp-timeline__content" id="event-description-additional-15">
          Where you up to
      
           – 
      
          
              <span id="event-description-15">
                  
                      
                          Telephone call
                  
          
                  
                      from 
                  
          
                  
                      the claimant
                  
              </span>
          
      </p>
      
                    </li>
                  
                    <li class="dwp-timeline__item" id="event-16">
                      <p class="dwp-timeline__datetime" id="event-date-16">
          30 September 2024 at 11:45am 
      </p>
      <h2 class="dwp-timeline__heading" id="event-header-16">
          <span class="govuk-visually-hidden">Event 16: </span>PIP Report completed
      </h2>
      <p class="dwp-timeline__by-line" id="event-by-16">
          by David Young
      </p>
      
                    </li>
                  
                    <li class="dwp-timeline__item" id="event-17">
                      <p class="dwp-timeline__datetime" id="event-date-17">
          21 August 2024
      </p>
      <h2 class="dwp-timeline__heading" id="event-header-17">
          <span class="govuk-visually-hidden">Event 17: </span>ESA Returned questionnaire
      </h2>
      <p class="dwp-timeline__by-line" id="event-by-17">
          by David Young
      </p>
      
      <p class="dwp-timeline__content" id="event-description-additional-17">
          
      
          
      
          
              <span id="event-description-17">
                  
                      
                          Telephone call
                  
          
                  
                      from 
                  
          
                  
                      the claimant
                  
              </span>
          
      </p>
      
                    </li>
                  
                    <li class="dwp-timeline__item" id="event-18">
                      <p class="dwp-timeline__datetime" id="event-date-18">
          21 August 2024
      </p>
      <h2 class="dwp-timeline__heading" id="event-header-18">
          <span class="govuk-visually-hidden">Event 18: </span>ESA Withdrew their claim
      </h2>
      <p class="dwp-timeline__by-line" id="event-by-18">
          by David Young
      </p>
      
      <p class="dwp-timeline__content" id="event-description-additional-18">
          
      
          
      
          
              <span id="event-description-18">
                  
                      
                          Telephone call
                  
          
                  
                      from 
                  
          
                  
                      the claimant
                  
              </span>
          
      </p>
      
                    </li>
                  
                    <li class="dwp-timeline__item" id="event-19">
                      <p class="dwp-timeline__datetime" id="event-date-19">
          15 August 2024 at 10:48am 
      </p>
      <h2 class="dwp-timeline__heading" id="event-header-19">
          <span class="govuk-visually-hidden">Event 19: </span>PIP Report completed
      </h2>
      <p class="dwp-timeline__by-line" id="event-by-19">
          by David Young
      </p>
      
                    </li>
                  
                    <li class="dwp-timeline__item" id="event-20">
                      <p class="dwp-timeline__datetime" id="event-date-20">
          7 August 2024
      </p>
      <h2 class="dwp-timeline__heading" id="event-header-20">
          <span class="govuk-visually-hidden">Event 20: </span>ESA Returned questionnaire
      </h2>
      <p class="dwp-timeline__by-line" id="event-by-20">
          by Chris Hulley
      </p>
      
      <p class="dwp-timeline__content" id="event-description-additional-20">
          
      
          
      
          
              <span id="event-description-20">
                  
                      
                          Telephone call
                  
          
                  
                      from 
                  
          
                  
                      the claimant
                  
              </span>
          
      </p>
      
                    </li>
                  
                    <li class="dwp-timeline__item" id="event-21">
                      <p class="dwp-timeline__datetime" id="event-date-21">
          7 August 2024 at 12:30am 
      </p>
      <h2 class="dwp-timeline__heading" id="event-header-21">
          <span class="govuk-visually-hidden">Event 21: </span>ESA Progress chasing
      </h2>
      <p class="dwp-timeline__by-line" id="event-by-21">
          by David Young
      </p>
      
      <p class="dwp-timeline__content" id="event-description-additional-21">
          Just wanted a chat
      
           – 
      
          
              <span id="event-description-21">
                  
                      
                          Telephone call
                  
          
                  
                      from 
                  
          
                  
                      Freddy 
                  
              </span>
          
      </p>
      
                    </li>
                  
                    <li class="dwp-timeline__item" id="event-22">
                      <p class="dwp-timeline__datetime" id="event-date-22">
          6 August 2024
      </p>
      <h2 class="dwp-timeline__heading" id="event-header-22">
          <span class="govuk-visually-hidden">Event 22: </span>PIP Rescheduled an assessment
      </h2>
      <p class="dwp-timeline__by-line" id="event-by-22">
          by David Young
      </p>
      
      <p class="dwp-timeline__content" id="event-description-additional-22">
          
      
          
      
          
              <span id="event-description-22">
                  
                      
                          Telephone call
                  
          
                  
                      from 
                  
          
                  
                      the claimant
                  
              </span>
          
      </p>
      
                    </li>
                  
                    <li class="dwp-timeline__item" id="event-23">
                      <p class="dwp-timeline__datetime" id="event-date-23">
          25 July 2024
      </p>
      <h2 class="dwp-timeline__heading" id="event-header-23">
          <span class="govuk-visually-hidden">Event 23: </span>PIP Assessment abandoned
      </h2>
      <p class="dwp-timeline__by-line" id="event-by-23">
          by Chris Hulley
      </p>
      
                    </li>
                  
                    <li class="dwp-timeline__item" id="event-24">
                      <p class="dwp-timeline__datetime" id="event-date-24">
          25 July 2024
      </p>
      <h2 class="dwp-timeline__heading" id="event-header-24">
          <span class="govuk-visually-hidden">Event 24: </span>PIP Report audited
      </h2>
      <p class="dwp-timeline__by-line" id="event-by-24">
          by Chris Hulley
      </p>
      
                    </li>
                  
                    <li class="dwp-timeline__item" id="event-25">
                      <p class="dwp-timeline__datetime" id="event-date-25">
          25 July 2024
      </p>
      <h2 class="dwp-timeline__heading" id="event-header-25">
          <span class="govuk-visually-hidden">Event 25: </span>PIP Rescheduled an assessment
      </h2>
      <p class="dwp-timeline__by-line" id="event-by-25">
          by Chris Hulley
      </p>
      
      <p class="dwp-timeline__content" id="event-description-additional-25">
          
      
          
      
          
              <span id="event-description-25">
                  
                      
                          Telephone call
                  
          
                  
                      from 
                  
          
                  
                      the claimant
                  
              </span>
          
      </p>
      
                    </li>
                  
                    <li class="dwp-timeline__item" id="event-26">
                      <p class="dwp-timeline__datetime" id="event-date-26">
          25 July 2024 at 11:56am 
      </p>
      <h2 class="dwp-timeline__heading" id="event-header-26">
          <span class="govuk-visually-hidden">Event 26: </span>PIP Report completed
      </h2>
      <p class="dwp-timeline__by-line" id="event-by-26">
          by Chris Hulley
      </p>
      
                    </li>
                  
                  </ol>
                </div>
              
            </div>
      
            
              <div class="govuk-grid-column-one-quarter">
                <div class="app-related-items" role="complementary">
                  <h2 class="govuk-heading-m" id="subsection-title">
                    What you can do next
                  </h2>
      
                  <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list">
              
                  
                  <li>
                      <a href="ESA-entry.html" class="govuk-link govuk-link--no-visited-state">Add entry to timeline</a>
                  </li>
                  
              
          </ul>
      </nav>
                </div>
              </div>
            
          </div>
        
      
              </main>
            </div>
      </div>
  

{% endblock %}
