{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-two-thirds">

    <a href="claimant-detail-personal.html" class="govuk-back-link">Back</a>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full" style="margin-top: 40px;">
        
  
        <form class="form" action="claimant-detail-personal" autocomplete="off" method="post" novalidate="">
          <input type="hidden" name="_csrf" value="">
          <input type="hidden" name="citizenId" value="3cf89add-7803-45e5-9f2a-eb5991d51ba7">
          <input type="hidden" name="referralId" value="91c766bd-c468-442c-944d-9f6e7de60796">

          


<div class="govuk-form-group">
<label class="govuk-label govuk-label--m" for="firstName">
First name
</label>


<input class="govuk-input" id="firstName" name="firstName" type="text" value="Jane" maxlength="70">

</div>


          


<div class="govuk-form-group">
<label class="govuk-label govuk-label--m" for="middleName">
Middle names
</label>


<input class="govuk-input" id="middleName" name="middleName" type="text" value="" maxlength="70">

</div>


          


<div class="govuk-form-group">
<label class="govuk-label govuk-label--m" for="lastName">
Last name
</label>


<input class="govuk-input" id="lastName" name="lastName" type="text" value="Doe" maxlength="70">

</div>


          




<button type="submit" class="govuk-button" data-module="govuk-button" id="continue" data-govuk-button-init="">
Save
</button>

      </form>
      </div>
   {% endblock %}
